script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/shortcuts/sticky.js")
script(src="scripts/jquery.fancybox.pack.js?v=2.1.5")
script(src="scripts/jR3DCarousel.min.js?v=2.1.5")

<!-- deze bestanden worden automatisch meegenomen -->
<!-- build:js scripts/main.pack.js -->
script(src="scripts/google.js")
script(src="scripts/main.js")
  <!-- deze bestanden worden automatisch meegenomen -->
  <!-- endbuild -->
