- var HomeKnop = 'indexEN.html'
- var reserveerknop = 'reserveringEN.html'
- var zooverlink = 'http://www.zoover.de/osterreich/tirol/ehrwald/haus-brabant/appartement'
- var zooverlinkimg = 'http://www.zoover.nl/shared/images2/nl/logosummarywide.png'
- var tourenlink = 'http://www.zugspitzarena.com/de/info-service/tourenportal'
- var zomerlink = 'zomerEN.html'
- var winterlink = 'winterEN.html'
- var appartementlink = 'appartementEN.html'
- var barlink = 'barEN.html'
