- var HomeKnop = 'index.html'
- var reserveerknop = 'reservering.html'
- var zooverlink = 'http://www.zoover.nl/oostenrijk/tirol/ehrwald/haus-brabant-bayrischerhof-tirol/appartement'
- var zooverlinkimg = 'http://www.zoover.nl/shared/images2/nl/logosummarywide.png'
- var tourenlink = 'http://www.zugspitzarena.com/nl/info-service/tourenportaal'
- var zomerlink = 'zomer.html'
- var winterlink = 'winter.html'
- var appartementlink = 'appartement.html'
- var barlink = 'bar.html'
- var TaalID = 3
