- var HomeKnop = 'indexDE.html'
- var reserveerknop = 'reserveringDE.html'
- var zooverlink = 'http://www.zoover.de/osterreich/tirol/ehrwald/haus-brabant/appartement'
- var zooverlinkimg = 'http://www.zoover.de/shared/images2/de/logosummarywide.png'
- var tourenlink = 'http://www.zugspitzarena.com/de/info-service/tourenportal'
- var zomerlink = 'zomerDE.html'
- var winterlink = 'winterDE.html'
- var appartementlink = 'appartementDE.html'
- var barlink = 'barDE.html'
