//- includes/mobilenav.pug
navm.mobile-nav
  .menu-mobile-footer
    ul#menu-mobile-footer.menu
      li#telefoon
        a(href="tel:+43 6 50 41 65 726")
      li#mail
        a(href="mailto:info@hausbrabant.com")
      li#whatsapp
        a(href="intent://send/+436763753121#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end")
      li#facebook
        a(href="https://www.facebook.com/brabantsegezelligheid/")
      li#book-now
        a(href="reservering.html") Book Now
