$icon-font-path: '../fonts/'

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"
// endbower
// email obfuscator
span.reverse
  unicode-bidi: bidi-override
  direction: rtl
  color: blue

.browserupgrade
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

/* Space out content a bit */
body
  padding-top: 20px
  padding-bottom: 20px
  background-color: #8fb3ec

.mainbody
  background: rgb(247,247,247)
  background: rgba(247,247,247,0.8)
  font-family: Arial
  font-size: 1.2em
  weight: 400
  padding-left: 10px
  padding-right: 10px
.header
  position: relative

.centerrow
  display: flex
  justify-content: center

.periscope
  height: 200px
  width: 200px
  background-image: url("../images/gezin2.jpg")
  background-position: 50% 15%
  border-radius: 50%
  border: 1px solid #777
  transition: transform 0.35s

/* Custom page footer */
.footer
  padding-top: 19px
  color: #777
  border-top: 1px solid #e5e5e5

.navbar-brand
  background: url("../images/hausbrabant.png") center / contain no-repeat
  width: 100px
  margin-top: -5px

.nav-container
  background-color: transparent

.nabalk
  margin-top: 20px

.fotocontainer
  display: none
.containtable
  overflow: hidden
table
  font-size: 0.9em
  font-weight: normal
.divider
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3)
  height: 20px
  background-color: rgba(33, 92, 192,0.6)
  border: 2px solid white
  margin-top: 20px
  margin-left: 5px
  margin-right: 5px
.zoover
  margin-bottom: 30px
.fotomobile img
  width: 100%

/* 	Table responsive layout Generic Styling, for Desktops/Laptops
table
	width: 100%
	border-collapse: collapse
	/* Zebra striping */
tr:nth-of-type(odd)
	background: #eee
th
	background: #356cc6
	color: white
	font-weight: bold
td, th
	padding: 6px
	border: 1px solid #ccc
	text-align: left
@media 	only screen and (max-width: 760px),	(min-device-width: 768px) and (max-device-width: 1024px)
	table, thead, tbody, th, td, tr
	 display: block
	thead tr
		position: absolute
		top: -9999px
		left: -9999px
	tr
   border: 1px solid #ccc
	td
		border: none
		border-bottom: 1px solid #eee
		position: relative
		padding-left: 50%
	td:before
		position: absolute
		top: 6px
		left: 6px
		width: 45%
		padding-right: 10px
		white-space: nowrap
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
		body
			padding: 0
			margin: 0

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
  h1
   text-shadow: 2px 2px 5px #356cc6
  .fotocontainer
    display: flex
    flex-direction: column
  .container
    max-width: 700px
  .row-eq-height
    display: flex
    margin-bottom: 30px
  .row#ZomerID, .row#WinterID
    margin-top: 5px
  nav:not(.stuck) .grow
    transition: all .5s ease-in-out
    &:hover
      transform: translate(100px,-100px) scale(5.1) rotate(360deg)
      cursor: pointer
  .mainbody
    padding: 10px 40px
  .divider
    margin-left: 15px
    margin-right: 15px
  .row.fotomobile
    display: none
  overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    pointer-events: none
    transition: opacity 1s
    z-index: -10
    transition: opacity 3s
  overlay.start-overlay
    opacity: 1
    pointer-events: all
  .wandel
    background: url("../images/background/wandelbg-min.jpg") no-repeat center fixed
    background-size: cover
  .zomer
    background: url("../images/background/topheader-min.jpg") no-repeat center fixed
    background-size: cover
  .winter
    background: url("../images/background/ski2-min.jpg") no-repeat center fixed
    background-size: cover
  .bar
    background: url("../images/background/overlaybar-min.jpg") no-repeat center fixed
    background-size: cover
  .mountainbike
    background: url("../images/background/mountainbikebg-min.jpg") no-repeat center fixed
    background-size: cover
  .golf
    background: url("../images/background/golfbg-min.jpg") no-repeat center fixed
    background-size: cover
  .klimmen
    background: url("../images/background/klimmenbg-min.jpg") no-repeat center fixed
    background-size: cover
  .langlaufen
    background: url("../images/background/langlaufbg-min.jpg") no-repeat center fixed
    background-size: cover
  .skiien
    background: url("../images/background/skibg-min.jpg") no-repeat center fixed
    background-size: cover
  .wandelsnow
    background: url("../images/background/wandelsnowbg-min.jpg") no-repeat center fixed
    background-size: cover
  .appartement
    background: url("../images/background/appartementenbg-min.jpg") no-repeat center fixed
    background-size: cover
  .speelkamer
    background: url("../images/background/speelkamerbg-min.jpg") no-repeat center fixed
    background-size: cover

  .header
      height: auto

@media screen and (min-width: 990px)
  .fotocontainer
      display: flex
      flex-direction: column
      justify-content: space-between
@media screen and (min-width: 1024px)
  .container
    max-width: 900px
@media screen and (min-width: 1400px)
  .container
    max-width: 1170px

@media screen and (min-width: 1920px)
  figure h2
    font-size: 1.5vw
