$colornavbar : rgba(33, 92, 192,0.9)

.stuck
  position: fixed
  top: 0
  z-index: 50

.nav-container
  width: 100%
  margin-right: -2em

nav
  box-sizing: border-box
  width: 1170px
  padding: 1em 1em
  margin-left: -14px
  background: $colornavbar
  position: relative
  border-top-left-radius: 1em 0.5em
  border-top-right-radius: 1em 0.5em
  display: block
  & ul
    margin-top: 0px
    margin-bottom: 0px

.nav-left
  position: absolute
  left: 0px
  bottom: -14px
  width: 14px
  height: 14px
  background: $colornavbar
  border-bottom-left-radius: 100% 50%


.nav-left:after
	content: ''
	position: absolute
	right: 0px
	width: 66%
	height: 66%
	background: #000
	border-top-left-radius: 100% 50%
	border-bottom-left-radius: 100% 50%

.nav-right
	position: absolute
	right: 0px
	bottom: -14px
	width: 14px
	height: 14px
	background: $colornavbar
	border-bottom-right-radius: 100% 50%

.nav-right:after
	content: ''
	position: absolute
	left: 0px
	width: 66%
	height: 66%
	background: #000
	border-top-right-radius: 100% 50%
	border-bottom-right-radius: 100% 50%

nav li
	display: inline
	list-style: none


nav li a
  text-decoration: none
  font-size: 1.2em
  color: white
  font-weight: bold
  display: inline-block
  //width: 8em
  text-align: center
  padding: .3em .5em
  border-radius: 5px

nav li a:hover,
nav li a.selected
  color: #fff
  background: #40bfe8
  text-decoration: none
  background: rgb(98,163,219)
  background: -moz-linear-gradient(left,  rgb(98,163,219) 0%, rgb(45,197,239) 50%, rgb(94,170,209) 100%)
  background: -webkit-linear-gradient(left,  rgb(98,163,219) 0%,rgb(45,197,239) 50%,rgb(94,170,209) 100%)
  background: linear-gradient(to right,  rgb(98,163,219) 0%,rgb(45,197,239) 50%,rgb(94,170,209) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62a3db', endColorstr='#5eaad1',GradientType=1 )
