h1 Hause Bar (bayernsturb'l)
p Unsere Hausbar ist nur für unsere Gäste. Nichts muss, und (fast) alles geht. Helmut macht es ihnen gemütlich und hat auch für Sie ein Paulaner oder Stiegl von Hahn.
p Unsere Gastfreundschaft und familiäre Atmosphäre macht es, dass viele, die nie in eine Bar kommen, immer noch jede Nacht mit Helmut im Sturb'l zu finden sein.
p Wenn das Wetter es zulässt, bieten wir auch einen Grill mit allem Drum und Dran auf dem Terrasse in unserem Hinterhof an. Manchmal sogar ein Lagerfeuer zu beenden, dann werden Sie feststellen, dass zwischen den Bergen eine große Sternenhimmel ist.
p Im Winter gebt es ein gemütliche Atmosphäre und nach Lust und Laune haben wir Après-Ski oder Karaoke in der Stube.
p Neben den Erfrischungen können Sie auch Spaß haben, mit:
ul
  li Tischtennis
  li Darts
  li Fußball
  li Billardtisch
  li Ihr Partner (Witz..)
