h1 Huis Bar (bayernsturb’l)
p
  | Onze huisbar is enkel toegankelijk voor onze gasten.  Niks moet, en (bijna) alles mag, Helmut staat met veel plezier achter zijn barretje, en tapt op z’n tijd een lekker Paullanertje.
p
  | Onze gastvrijheid en de huislijke sfeer maakt het dat vele die nooit in een bar komen, toch elke avond te vinden zijn bij Helmut in de Sturb’l.
p
  | Als het weer het toestaat verzorgen we ook een barbecue met alles erop en eraan op het terras in onze achtertuin.
  | Met soms nog een kampvuurtje als afsluiter, je zult dan ervaren dat tussen de bergen een geweldige sterrenhemel is.
P
  | De wintergasten kunnen u ook vertellen hoe we de brabantse carnaval naar Oostenrijk hebben gehaald.
  | De apresski wordt dan ook op de voor ons kenmerkende wijze invulling gegeven.
P
  | Naast de versnaperingen kunt je je ook nog amuseren met:
ul
  li tafeltennis
  li darts
  li tafelvoetbal
  li poolbiljart
  li je partner (geintje..)
