h1 Speelkamer
p
  | Als de kids het naar hun zin hebben is de vakantie vaak geslaagd is een vaak gehoorde zegswijze.
  | Vaak is het behelpen op zo'n hotelkamer maar daar hebben wij wat op bedacht!
p
  | Voor de kids hebben wij een speelkamer ingericht waar ze lekker kunnen ravotten, klimmen, tafelvoetbal een playstation en alles waar onze eigen kinderen zich ook altijd mee vermaken.
  | Grootste probleem vormt meestal om ze daar weer weg te krijgen....
p
  | Ook in onze achtertuin staan diverse speeltoestellen en een heus piratenschip!
p
  | Dus terwijl u een gezellige avond in de bar heeft kunnen uw kids op gepaste afstand lekker zichzelf zijn zodat u beiden een optimale vakantie kunt genieten.
