h1 Spielzimmer
p Wenn die Kinder eine <strong>gute Ferien</strong> haben wir oft gesagt das ihre auch eine gute ferien hast.
p Oft ist es auf Zimmer auch begnügen  mit die Kindern, aber da haben wir etwas auf vorbereitet!
p Für die Kinder haben wir ein <strong>Spielzimmer</strong>, wo sie um toben, klettern, Tischfußball Play Station und alles wo kindern sich immer mit unterhalten. Das größte <strong>Problem</strong> ist in der Regel, sie wieder raus zu bekommen ....
p Auch in unserem Garten sind mehrere Spielplätze und ein echtes Piratenschiff!
p So, während Sie Ihre eigenen Kinder gut im entsprechenden Abstand haben, können Sie beide von eine <strong>gemütliche Abend</strong> in unsere Stube genießen.
