- var koptextsub = 'sfeervol en modern uitgerust'
// menu
- var Bar = 'Bar'
- var Speelkamer = 'Speelkamer'

- var klikfoto = 'klik op de foto voor meer ....'
- var onzebar = 'Onze gezellige bar '
- var onzespeel = 'Onze gezellige speelkamer '
