- var koptextsub = 'sfeervol en modern uitgerust'
// menu
- var Bar = 'Stube'
- var Speelkamer = 'Spielzimmer'

- var klikfoto = 'Klicken Sie auf das Bild für weitere Foto....'
- var onzebar = 'Gemutliche stube '
- var onzespeel = 'Unserem Spielzimmer '
