- var koptextsub = 'sfeervol en modern uitgerust'
// menu
- var Bar = 'Bar'
- var Speelkamer = 'Playroom'

- var klikfoto = 'click on the picture to see more....'
- var onzebar =  'Our cosy bar'
- var onzespeel = 'Playroom '

- var taal = 'EN'
