h1 Appartments
p
  strong Extra Service/ Informationen <br>
  i Broodjesservice:<br>
  | U kunt elke dag verse broodjes bij ons bestellen. (graag dit wel op tijd door te geven)
p
  i Beddengoed en extra's :<br>
  | Beddengoed, hand- en theedoeken<br>
  | De keukens in de appartementen zijn volledig uitgerust met servies, bestek, kookplaat, koelkast, magnetron/ of oven, koffieapparaat en waterkoker.
p
  | Alle appartementen/kamers hebben beschikking over een (Oostenrijkse) satelliet TV. <br>
  | Alle appartementen en kamers hebben toegang tot een gratis draadloze internet verbinding(WIFI).<br>
p
  h3 Ubersicht Appartments
