h1 Appartementen
p
  strong Extra Service/ Informatie <br>
  i Broodjesservice:<br>
  | U kunt elke dag verse broodjes bij ons bestellen. (graag dit wel op tijd door te geven)
p
  i Beddengoed en extra's :<br>
  | Beddengoed, hand- en theedoeken<br>
  | De keukens in de appartementen zijn volledig uitgerust met servies, bestek, kookplaat, koelkast, magnetron/ of oven, koffieapparaat en waterkoker.
p
  | Alle appartementen/kamers hebben beschikking over een (Oostenrijkse) satelliet TV. <br>
  | Alle appartementen en kamers hebben toegang tot een <strong>gratis</strong> draadloze internet verbinding(WIFI).<br>
p
  | Binnenspeelplaats voor de kinderen (55m2) <br/>
  | Overzichtelijke ruimte buitenspeelplaats (500m2)<br/>
  | Naast een eigen balkon, ook een zonneterras (40m2) in de tuin.<br/>
  | Parkeermogelijkheid (gratis) voor motoren in de garage.
  h3 Overzicht appartementen
