h1 Rodelen
p
  | Jouw sneeuwvakantie is niet compleet als je dit niet een keer ervaren hebt.
p
  | Alleen of met zijn tweeën de berg af suizen. Heerlijk de berg af kun je overdag op de BrentAlm tot onder in het dorp.
p
  | Elke woensdag en vrijdagavond is er vanaf de Ehrwalder Alm een te gekke rodel gelegenheid over een verlichte piste.<br>
  | Let wel op met drankgebruik, deze avonden kunnen zeer gezellig zijn ;).
