h1 Rodeln
p Ein absolutes Highlight in jedem Urlaub! Nachtrodeln auf die beleuchtete Talabfahrt der Ehwalder Almbahn . Das Tirolerhaus, die Ehrwalder Alm, die Ganghofer Hütte und die Brentalm sorgen während der Rodelabende für Euer leibliches Wohl. Mit Live Musik wird der Abend so richtig stimmungsvoll.
p Länge: 3 km Höhenunterschied: 400m
p Rodeln wird ein zur stimmigen Abwechslung, am Grubigstein in Lermoos geht Loss. Hier befindet sich die längste Naturrodelbahn der Region. Rodeln wird hier zur stimmigen Abwechslung.
p Länge: 3,5 km Höhenunterschied: 330 m
p Start: Brettlalm | Mittelstation Grubigstein | Lermoos
p Ziel: Talstation Hochmoosexpress Grubigstein | Lermoos
