h1= Activiteiten
h3 Pferdeschlittenfahrt
p Wild romantisch lässt sich die Tiroler Zugspitz Arena bei einer Pferdeschlittenfahrt erkunden.<br> Dick eingepackt und in Decken gehüllt kannst Du so die bezaubernde Winteridylle erkunden. Ein Muss für jeden Urlaub!
p <br>
p <br>
h3 Nachtskilauf
p Skifahren bei Nacht. Hell erleuchtete Pisten und das Lichtermeer im Tal machen die Nacht zu einem besonderen Erlebnis für Pistenfreunde. Wer seinen Skitag verlängern oder einfach einmal bei Nacht auf die Piste möchte gibt es Möglichkeiten in Lermoos und Berwang.
