h1 Langaufen
p
  | De grote open vlakte tussen Ehrwald, Lermoos en Biberwier is een eldorado voor de loipen liefhebber.
  | Daarnaast zijn er allerlei koppeltrajecten naar naburige dalen.
p
  | De Hochloipe Ehrwalder Alm nodigt uit tot een sprookjesachtige rondtocht te midden van een sneeuwrijk landschap op 1500 meter hoogte.
  | Regionaal 100 km loipen, met afwisselende hoogtes van 996–1847 meter.
  | Deze Loipen hebben een totale lengte van 63 km, verdeelt in;<br>
  | Blauw (licht): 8 km<br>
  | Rood (middel): 20 km<br>
  | Zwart (zwaar): 15 km<br>
  | Groen (Skate): 10 km<br>
