h1 Langaufen
p Die große offene Fläche zwischen Ehrwald, Lermoos und Biberwier ist ein Paradies für Liebhaber von Langlaufloipen. Es gibt alle Arten von Drehmomentgängen in die Nachbartäler.
p Toller Bonus: alle Langlaufstrecken können kostenlos benützt werden!
p Insgesamt umfasst das Loipennetz über 110 km, jeweils Klassisch und zum Skaten. Die einzelnen Strecken sind abwechslungsreich und bieten sowohl für ambitionierte und ruhigere Sportler das Passende.
p Schneesicherheit garantieren die Hochloipen sowie die beschneibare Golfrundloipe direkt am Fuße der Zugspitze.
p Schönes Highlight: auf den Nachtloipen kann man seine Runden unter dem Sternenhimmel drehen.
p Für langlauftouren:
  a(href='http://www.zugspitzarena.com/de/info-service/tourenportal?submit2=1&regionen=&streckemin=0&streckemax=84.6&category=45&dauermin=0&dauermax=46&grad=' target='new') info
