h1 Ski / Snowboard
p
  | De Zugspitz Arena omvat meerdere dorpen waar met een en dezelfde ski-kaart terecht kunt.
  | U kunt skieen van Bergwang tot het Duitse Garmisch met zijn bekende Hanenkam. <br>
  | Van de <strong>139</strong> km piste zijn er 93km besneeuwd, mede door de gletcher op de Zugspitze zorgen deze voor sneeuwzekerheid
p
  | Het totale skigebied van Ehrwald valt in drie delen uiteen, en loopt van 900 tot 2700m.
p
  | Deze drie gebieden met in totaal 64,5 km piste.<br>
  | Aan de rand van het dorp ligt het kleine skigebied Wetterstein. Hier krijgen beginnende skiërs heerlijke oefenpistes voorgeschoteld.
p
  | Een logisch vervolg hierop is de Ehrwalder Alm, een modern opgezet sneeuwdomein met een cabinelift, drie verwarmde stoeltjesliften en drie sleepliften. Met de sneeuwzekerheid zit het wel snor want de skipistes kunnen kunstmatig worden besneeuwd. Vooral gevorderde skiërs komen op de Alm goed aan hun trekken.
  | Ehrwald beschikt over een prima skischool en een kinderskischool (snowland) met opvang tussen de middag.
p
  | Ideale gebieden voor gezinnen met <strong>kinderen</strong>; de pistes in Biberwier en Ehrwald hebben een centraal dalpunt zodat je je kinderen nooit kwijt raakt.
p
  | Maar ook de sportievelingen kunnen hun hart ophalen in het <strong>Snowpark</strong> op de Ehrwalder Alm of de Freeridetrails in Lermoos. spannende pipes en gevarieerde obstakels wachten op spektalulaire stunts. In de snowparks zal het niet vervelend worden.
p
  | Op 3 km van Ehrwald voert een grote zweefbaan in tien minuten naar de top van de Zugspitze (2964 meter), de hoogste berg van Duitsland.
  | Het ritje is zo spectaculair dat er ook veel mensen zonder skiuitrusting gebruik van maken.
  | Onder de top van de Zugspitze ligt het skigebied Zugspitzplatt (gletsjer) dat eveneens vanuit Garmisch-Partenkichen (Duitsland) per bergtreintje te bereiken is.
p
  | Voor een overzicht van het ski gebied zie hier :
  a(href='images/winter/skikaartehrwald.pdf' target='new') Ski-kaart Ehrwald
p
  | Ook voor de snow-boarders heeft Ehrwald heel wat te bieden. Een uitgebreid snowpark met giga jumps en allerlei rails.<br>
  | Voor een overzicht van de mogelijkheden geeft de site van de
  a(href='http://www.almbahn.at/nl/winter/skigebied/snowpark/' target='new') Ehrwalder Alm
  |  alle info
