h1 Ski / Snowboard
p Erste Skiregion im Norden Tirols
p Die Tiroler Zugspitz Arena bietet Dir 7 sensationelle Skigebiete, die alle schnell erreicht werden können und jedem Anspruch gerecht werden. 139 Pistenkilometer (davon 93 km beschneit) und 58 Bergbahnen stehen Dir zur Verfügung.
p Skifahren auf der Zugspitze, in Ehrwald, Lermoos, Biberwier, Bichlbach oder Berwang bedeutet Abwechslung und unvergessliches Schneevergnügen. Von einfachen Pisten für Anfänger und Familien bis hin zu fordernden Abfahrten für geübte Skifahrer ist alles dabei.
p Wer Nervenkitzel, Abenteuer und Action sucht, ist in den Snowparks und auf den Freeridestrecken der Tiroler Zugspitz Arena bestens aufgehoben.
p Aufregende Pipes und abwechslungsreiche Hindernisse warten auf Deine spektakulären Stunts. In den Snowparks wird es bestimmt nicht langweilig.
p Unberührter Tiefschnee, menschenleere Abfahrten und ein atemberaubendes Alpenpanorama: das ist Freeride in Lermoos. Die Freeridestre
p Für einen Überblick über die Möglichkeiten zeigt der Ehrwalder Alm alle Info:
  a(href='images/winter/skikaartehrwald.pdf' target='new') Ski-kaart Ehrwald
p
  | Ook voor de snow-boarders heeft Ehrwald heel wat te bieden. Een uitgebreid snowpark met giga jumps en allerlei rails.<br>
  | Voor een overzicht van de mogelijkheden geeft de site van de
  a(href='http://www.almbahn.at/nl/winter/skigebied/snowpark/' target='new') Ehrwalder Alm
  |  alle info
p
  | Op 3 km van Ehrwald voert een grote zweefbaan in tien minuten naar de top van de Zugspitze (2964 meter), de hoogste berg van Duitsland.
  | Het ritje is zo spectaculair dat er ook veel mensen zonder skiuitrusting gebruik van maken.
  | Onder de top van de Zugspitze ligt het skigebied Zugspitzplatt (gletscher) dat eveneens vanuit Garmisch-Partenkichen (Duitsland) per bergtreintje te bereiken is.
  | Door de hoge ligging vind je hier droomsneeuw van november tot mei, en heeft Ehrwald altijd gegarandeerde sneeuwzekerheid achter de hand. Allemaal heerlijke blauwe en rode carvingpistes geflankeerd door offpiste-hellingen.
  | Via een spectaculaire offpiste route is het mogelijk af te dalen naar de Ehrwalder Alm. (Neue Welt)
  | Buiten de pistes is de Zugspitzplatt dus een waar diepsneeuwparadijs.
