h1 Activiteiten
h3 Arrenslee
p
  | Een romantisch tochtje met de arrenslee?<br>
  | Ideaal om een comfortabele tour door de omgeving te maken.<br>
  | De slee met de wagenmenner vindt u meestal voor de kerk bij het plein.
p <br>
p <br>
h3 Avondskieen
p
  | Op diverse avonden bestaat de mogelijkheid om op verlichte pistes af te dalen. O.a. in Berwang en Lermoos worden de pistes 's avonds opengesteld voor een avontuurlijke afdaling onder kunstlicht.
