h1 Wandelen
p
  | De "Zugspitz Arena" staat voor kilometers wandelplezier in de winter.
  | Ideaal voor de niet-skiërs, terwijl de kinderen of kleinkinderen skiën zijn, lekker door de verse sneeuw wandelen.
p
  | Dagelijks worden de wandelpaden onderhouden door mini-sneeuwruimers. In het toeristenbureau kan je wandelkaartjes krijgen.
p
  | Alle wandelingen zijn goed bewegwijzerd zodat je ook zonder kaart niet snel verloren zal lopen.
  | De wandelpaden die in de winter vrijgemaakt zijn, zijn voor iedereen goed te doen. Ook met een iets minder goede conditie kan je deze wegen aan.
  | De 3 dorpjes Ehrwald, Lermoos en Biberwier liggen in een heel groot dal, hierdoor kan je ook kilometers vlak wandelen.
  | Je hebt ook altijd de mogelijkheid om met de skibus mee te pendelen in het dal. Laat je bijvoorbeeld afzetten in het ene dorp en loop heerlijk wandelend naar je bestemming.
p
  | <i>Wandeling 1: De weideweg tussen Ehrwald en Lermoos.</I><br>
  | De ideale wandeling om je wintervakantie mee te starten. Héél gemakkelijk en volledig vlak. Je wandelt tussen 2 muren van sneeuw van het ene dorp na het andere. In Ehrwald start je bij hotel “Zum Grünen Baum”, waar je afdaalt naar de weide en in Lermoos vertrek je meestal tegenover de camping of langs “hotel Post”. De wandeling duurt zo'n 45 minuten en je hebt de mooiste zichten onderweg. Er staan veel banken zodat je altijd wel ergens in het zonnetje kan genieten. Er loopt een riviertje langs de weg zodat je voortdurend het kabbelende water hoort. Neem ook je tijd om eens in het riviertje te kijken, het water is zo helder dat je de forellen ziet zwemmen! Vooral in de schaduw van de bruggen kan je ze terugvinden.
  | 's Morgens vroeg zorgt dit riviertje soms voor een sprookjesachtig effect, er hangt dan een lage mist en de bomen in de weide hangen vol met sneeuw.
p
  | <i>Wandeling 2: De panoramaweg tussen Ehrwald en Lermoos.</i><br>
  | Een mooie wandeling met enkel in het begin en einde een beetje stijgen en dalen. In Ehrwald vertrek je in de buurt van het Esso benzinestation, even onder de grote brug door en vervolgens links omhoog. Vanuit Lermoos begint de wandeling in de buurt van het station, daar stijg je gedurende een 10-tal minuutjes. Vervolgens blijf je op dezelfde hoogte tot de afdaling naar Ehrwald begint.
  | Deze wandeling duurt ongeveer 60 min, onderweg staan er banken met telkens een mooi zicht op het dal en de skipistes aan de andere kant van het dal. Ongeveer halfweg is er ook een privéchalet van een Oostenrijker met een bankje in de zon en een gastenboek (hüttebuch). Honderden mensen hebben hier al hun bewondering voor het sprookjesachtige dal beschreven. Zeker de moeite om eens, genietend van het zonnetje, deze commentaren te lezen. De hut ligt ongeveer een 50-tal meter van de wandelweg.
