- var koptext= 'Winter in'
- var koptextsub = 'Gegarandeerde winterpret voor het hele gezin'

// menu
- var Langaufen = 'Langaufen'
- var Ski = 'Ski'
- var Rodelen = 'Rodelen'
- var Wandelen = 'Wandelen'
- var Activiteiten = 'Activiteiten'

// table
- var Bezienswaardigheid = 'Bezienswaardigheid'
- var Plaats = 'Plaats'
- var Land = 'Land'
- var Webpagina = 'Webpagina'
- var lengte = 'lengte'
- var Gebied = 'Gebied'
// repeat var
- var klikfoto = 'klik op de foto voor meer ....'
- var Uitstapjes = 'Uitstapjes'
