- var koptext= 'Winter in'
- var koptextsub = 'garantierter Winterspaß für die ganze Familie'

// menu
- var Langaufen = 'Langaufen'
- var Ski = 'Ski'
- var Rodelen = 'Rodlen'
- var Wandelen = 'Wandern'
- var Activiteiten = 'Aktivitäten'

// table
- var Bezienswaardigheid = 'Sehenswürdigkeit'
- var Plaats = 'Standort'
- var Land = 'Land'
- var Webpagina = 'Web'
- var lengte = 'Länge'
- var Gebied = 'Bereich'
// repeat varBe
- var klikfoto = 'klicken Sie auf das Foto für mehr ....'

- var Uitstapjes = 'Aktivitäten'
