h1 Wasser-Spaß
p Zur Abkühlung gehen Sie nach eine der acht kristallklaren Bergseen, oder rutschen Sie von der gelben Rutsche in Panorambad in Lermoos!
p Und was derzeit ziemlich cool ist, ist das Paddel Surfen. Von Ihrem Bord, haben Sie einen fantastischen Blick auf der Heiterwangersee.
p Sollte ein Tag schlechter Wetter sein, dann gibst ein modernes Hallenbad in Ehrwald mit Salzwasser Bad und natürlich eine Rutsche.
p Für die sportlichen unter uns gibt es zahlreiche Möglichkeiten zum Tauchen.
p Entdecke beim Canyoning die schönsten Gebirgsschluchten in der Tiroler Zugspitz Arena! Beim Abseilen entlang faszinierender Wasserfälle oder Kraterwände, beim Klettern über massive Felsen oder bei Sprüngen ins türkise Nass - Canyoning ist Abenteuer für Groß & Klein.
p Oder kombinier ein Tour mit Wildwasser-Rafting, um Ihnen Urlaub unvergesslich zu machen.

h1 In der Luft ..
p Die Freiheit des Himmels, Paragliding ist auch in der Tiroler Zugspitz Arena ein echtes Erlebnis, nicht nur durch die sensationelle Aussicht auf die Bergwelt inklusive Zugspitze.
p Zusammen mit dem Paraglide-Experten der Region Alexander Rauter, haben die Bergbahnen gute Bedingungen für Paraglider geschaffen.
  a(href='www.flyteam.info' target='new') www.flyteam.info
p Für diejenigen, die sein Hobby zu Hause nicht verlassen kann, kann im Tal zwischen Ehrwald und Lermoos eine Landungsplatz für Modellflugzeugen finden. Wie wir zuvor gesagt, hat für jeden von uns gedacht!

h1 Zugspitze
p Die Fahrt mit der Tiroler Zugspitzbahn auf den höchsten Punkt in Deutschland (2962 m) führt Sie in die Berge mit herrlicher Aussicht. Einmal sollte man von die "Vier-Länder-Blick" geniessen, wo Berge von zwei bis dreitausend Meter hoch zu sehn sein (und sogar eine von viertausend Meter). Von der großen Terrasse mit Panoramablick bei klarem Wetter kann unter anderem den Großglockner (der höchste Berg in Österreich), der Piz Bernina und auch der Fernsehturm in München erkennen.
p Für eine 360-Ansicht und eine Sommer-und Winter-Ansicht klicken
  a(href='http://www.zugspitze.at/de/gipfel/panorama/panorama/' target='new') Sie hier
p
   a(href="http://www.youtube.com/embed/rqZWLk-HsHg?autohide=1&autoplay=1&controls=0" class='fancybox.iframe').fancybox-media Videofragment van de Zugspitzbahn
h1 Z-ticket
p Entdecke die Region mit vielen Vorteilen: mit dem Z-Ticket kannst Du viele Vorzüge genießen!
p Die Aktivkarte bietet Dir viele Inklusiv Leistungen und weitere Vergünstigungen. Ohne zusätzlichen Eintritt kommt man z.B. in den Genuss der Bergbahnen, Busse, Frei- & Hallenbäder uvm. Absolutes Highlight ist eine Fahrt auf die Zugspitze.
p Alle Leistungen der Z-Tickets finden  Sie hier.
  a(href='http://www.zugspitzarena.com/de/urlaubsthemen/z-ticket' target='new') hier
  | .<br>
h1= Activiteiten
