h1 Waterplezier
p
  | Om af te koelen ga je naar één van de 8 kristalheldere bergmeren, of je glijd van de gele glijbaan in het Panorambad in Lermoos!
  | En wat momenteel helemaal hot is is het paddle surfen. Vanaf je board heb je op de Heiterwangersee fantastisch uitzicht.
p
  | Mocht het een dagje wat slechter weer zijn is er in Ehrwald een modern binnenzwembad, met zoutwater bad en natuurlijk ook een glijbaan.
p
  | Voor de sportieveling onder ons zijn er talloze mogelijkheden om te duiken.
  | Of je gaat op zoek naar de mooiste kloven en watervallen. Hiervoor trek je een wetsuit aan, gordel om, helm op, en ontdek je de mooiste canyoning-berg-kloven.
  | In tour in combinatie met een rafting tocht op wildwater maakt jou vakantie onvergetelijk.
h1 In de lucht ..
p
  | De vrijheid boven de wolken is een echter beleving. Samen met Alex maak je een tandemsprong. Uiteraard word alles voor je opgenomen en krijg je achteraf je vlieg fotos mee naar huis.
  a(href='www.flyteam.info' target='new') www.flyteam.info
p
  | Voor degene die zijn hobby niet thuis kan laten vind je in het dal tussen Ehrwald en Lermoos een landingsplaats voor modelvliegtuigen.
  | Zoals we al eerder zeiden voor ieder wat wils is bij ons aan gedacht!

h1 Zugspitze
p
  | De prachtige tocht met de Tiroler Zugspitzbahn naar het hoogste punt van Duitsland (2.962 m) brengt de bezoeker in een bergwereld met geweldige uitzichten. Eén keer moet men van het “4-landen-uitzicht” genoten hebben, waar bergen van twee- tot drieduizend meter hoogte te zien zijn (en zelfs één van vierduizend meter).
  | Vanaf het ruime panoramaterras kan men bij helder weer o.a. de Großglockner (de hoogste berg van Oostenrijk), de Piz Bernina en ook de TV-toren van München herkennen.
p
  a(href='http://www.zugspitze.at/nl/het-hoogste-punt/de-zugspitze/uitzicht/' target='new') Voor een 360 uitzicht en een zomer en winter aanzicht klik hier
p
   a(href="http://www.youtube.com/embed/rqZWLk-HsHg?autohide=1&autoplay=1&controls=0" class='fancybox.iframe').fancybox-media Videofragment van de Zugspitzbahn
h1 Z-ticket
p
  | Ontdek de regio zonder extra kosten en met vele voordelen! <br/>
  | Deze actief-kaart heeft vele voordelen en extraatjes. Zonder extra entree te betalen kunt je gebruik maken van kabelbanen, bus, buiten- & binnenzwembad en nog veel meer. Het hoogtepunt is een ritje naar de Zugspitze.
p
  | Alle diensten van het Z-Tickets vindt je&nbsp
  a(href='http://www.zugspitzarena.com/de/urlaubsthemen/z-ticket' target='new') hier
  | .<br>
h1 Activiteiten
