h1 Klettern
p Für wem ein Hartz für Klettern hatte, gibt es viele Möglichkeiten. Ehrwald hat eine neue Kletterhalle für 1267m2 klettervergnügen.
p Die neue Kletterhalle verfügt über vielfältige und modernste Klettervorrichtungen. Im Klettershop kann Ausrüstung sowie Zubehör geliehen oder bestellt werden. Auch Kurse werden Angeboten. Das Sport-Bistro sorgt für Erfrischungen. Die Kletterhalle ist wettkampftauglich.
p Alpine Sportkletterer und Bergsteiger finden in der Tiroler Zugspitz Arena eine Vielzahl an Felsmassiven, Klettergärten sowie Klettersteigen in allen Graden. Durch die südseitig gelegene Lage sind viele Steige und Routen schon in den frühen Morgenstunden kletterbar.
p Glauben Sie wirklich in Tarzan, dann können Sie den Kletterwald besuchen, hier können Sie 5 Kurse mit 60 herausfordernden Kletterelemente finden.
