h1 Golfen
p Auf dem 9-Loch Golfplatz der Tiroler Zugspitz Arena spielst Du mit direktem Blick auf die Zugspitze. Wer Besonderes sucht, wird hier mit dem schönen Alpenpanorama belohnt.
p Der Tiroler Zugspitz Golfplatz liegt auf ca. 1.000 Meter mit großzügig angelegten Spielbahnen, bei denen sowohl Könner wie auch Anfänger ihre Herausforderung finden.
p
  i Golfclub Zugspitze, Am Rettensee 1, 6632 Ehrwald, Österreich
