h1 Wandern
p Insgesamt sind rund 150 verschiedene Trails zur Verfügung. Die Auswahl reicht von Lichtpfade ,Erlebnispfade bis hin zu anspruchsvollen Klettertouren und Bergspitzen. Die größte Herausforderung ist die Zugspitze mit 2962 Metern. Auf Anraten von uns haben viele Gäste, auch mit Kindern, dem weg zu Fuß zur Seebensee gefunden!
p Seebensee - Coburger Hütte 1917 m - Gehzeit: ca. 4 Stunden
p Der Ausgangspunkt für diese Route ist die Talstation der Ehrwalder Alm. Eine Seilbahn geht auf bis Bergrestaurant Tiroler Haus. Der Breiten Wanderweg führt durch die Ganghofer`s Rast zum Seebenalm.  Oder Sie laufen von Unter Station durch die Hohegang direkt nach die  Seebenalm .. .. Von Seebenalm lauen Sie zur wunderschön gelegenen SeebenSee. Für diejenigen, die noch was Energie übrig hatte lauf einem steilen und gewundenen Pfad zum Coburgerhütte. Hier können Sie voll genießen können von die wunderschöne blick auf zwei Seen.
p Ein sehr schöner Spaziergang, und auch gut zu tun, ist die Weg von der Zugpitze über die Gatterl zum Ehrwalderalm.
p Zugspitze 2.962 m – Lauf Zeit: 6 Stunden
p Mit der Seilbahn fahren Sie bis zum die top von der Zugspitze. Nach unter mit der Gletscherbahn oder laufen Sie ein schwierige Gehweg runter bis auf das Plateau der Zugspitze. Der Weg führt durch die Knorrhütte 2.051 m bis 2.000 m Gatterl - Feldernjöchl 2.045 m - 1.732 m Hochfeldern Alm - Ehrwalder Alm 1.502 m - Talfahrt mit der Ehrwalder Alm oder zu Fuß über den Forst- oder Wiesenweg ins Tal.

h3 Nordic Walking
p Die langjährige Erfahrung in Langlaufen ist die Grundlage der Begeisterung für Nordic Walking, die natürlich viel Ähnlichkeit mit nordischen langlaufen hat, auch als Nordic Ski bekannt.
p Nordic Walker kommen in Ehrwald nichts zu kurz. Die große offene Fläche zwischen Ehrwald, Lermoos und Biberwier ist ein Paradies für Nordic Walker. Es gibt alle Arten von Drehmomentgängen in die Nachbartäler. Die Hochloipe Ehrwalder Alm lädt Sie ein zu einem Märchenfahrt mitten in ein ausgestreckte Landschaft auf 1500 Meter Höhe.
