h1 Schlitteln
p Wer im Sommer in der Zugspitz Arena ist sollte auf jeden Fall eine Fahrt auf der längsten Sommerrodel in Tirol (1,5 km) machen. Kinder, sondern auch die Papis und Mamis, lieben diese Rodelbahn.
p In der Nähe von Hotel "MyTirol" in Biberwier gehen Sie mit die Marienbergbahn zum startplatz.
p Die Kleinen können natürlich mit Mama oder Papa auf die Schoss um von diese fahrt zu genießen. Mit der Brems (und die benötigen Sie), können Sie Ihre Geschwindigkeit bestimmen. Die allererste fahrt sollte Sie wahrscheinlich noch ruhig fahren, aber dann geht’s Loss…. 
