h1 Klimmen
p
  | Voor wie een liefhebber is van de klimsport zijn er volop mogelijkheden. Ehrwald is een echte bolder klimhal rijk.
p
  | De nieuwe klimhal heeft de modernste klim-inrichtingen. In de winkel kan uitrusting en accessoires worden geleend of besteld. Er zijn ook cursussen.
p
  | Alpine klimmers en bergbeklimmers vinden in de Tiroler Zugspitz Arena een verscheidenheid van rotsformaties en klimroutes in alle moeilijkheidsgraden. Door de ligging in het zuiden, veel wandelpaden en routes zijn in de vroege ochtenduren beklimbaar.
p
  | Speel je graag Tarzan, dan kun je terecht in het Klimbos, hier vind je 5 parcours met 60 spannende klim elementen.
