- var koptext= 'Zomer in'
- var koptextsub = 'Een ideale omgeving voor wandelaars, mountainbikers..'

// menu
- var Wandelen = 'Wandelen'
- var Mountainbike = 'Mountainbike'
- var Golf = 'Golf'
- var Rodelen = 'Rodelen'
- var Klimmen = 'Klimmen'
- var Activiteiten = 'Activiteiten'
- var WandelRouters = 'Wandel routes'

// table
- var Type= 'Type'
- var Bezienswaardigheid = 'Bezienswaardigheid'
- var Plaats = 'Plaats'
- var Land = 'Land'
- var Kastelen = 'Kastelen'
// repeat var
- var klikfoto = 'klik op de foto voor meer ....'
