- var koptext= 'Sommer in'
- var koptextsub = 'Ein idealer Ort für Wanderer, Mountainbiker usw.'

// menu
- var Wandelen = 'Wandern'
- var Mountainbike = 'Mountainbike'
- var Golf = 'Golf'
- var Rodelen = 'Schlitteln'
- var Klimmen = 'Klettern'
- var Activiteiten = 'Aktivitäten'
- var WandelRouters = 'Wander routes'

// table
- var Type= 'Type'
- var Bezienswaardigheid = 'Sehenswürdigkeit'
- var Plaats = 'Stadt'
- var Land = 'Land'
- var Kastelen = 'Schloß'
// repeat var
- var klikfoto = 'klicken Sie auf das Foto für mehr ....'
