- var taal = 'NL'
if taal == 'NL' 
  include ./include/appartement/var_appartementNL.pug
  include ./include/links.pug
if taal == 'DE'
  include ./include/appartement/var_appartementDE.pug
  include ./include/linksDE.pug
if taal == 'EN'  
  include ./include/appartement/var_appartementEN.pug
  include ./include/linksEN.pug


doctype html
html
  include ./include/head.pug
  body#Home
    overlay.appartement.start-overlay
    overlay.bar
    overlay.speelkamer
    .container
      .header
        .figure.effect-menu
          img(src="images/header/appartementen.jpg")
          figcaption
            h2 Haus
              span  Brabant
            p= koptextsub
      .nav-container
        nav
          div
            button(type="button" data-target="#myNavbar").menubutton
              span.icon-bar
              span.icon-bar
              span.icon-bar
            div
              a.navbar-brand.pull-left.grow(href="#")
          div#myNavbar
            ul
              li.nav-link
                a(href= HomeKnop data-bg="appartement") Home
              li.nav-link
                a(href="#section-2" data-bg="appartement")= Appartement
              li.nav-link
                a(href= reserveerknop data-bg="appartement")= Reservering
              li.nav-link.pull-left.topicon
                a(href="#section-1" data-bg="appartement")
                  img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de
              a(href="appartementDE.html")
                img(src="images/de.png")
            .nl
              a(href="appartement.html")
                img(src="images/nl.png") 
            .en
              a(href="appartementEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row.row-eq-height
            .col-lg-12.col-sm-12
              .editcms.cms-editable
                if taal == 'NL' 
                  include ./include/appartement/html_appartementNL.pug
                if taal == 'DE'
                  include ./include/appartement/html_appartementDE.pug
                if taal == 'EN'  
                  include ./include/appartement/html_appartementEN.pug
          .row
            .col-lg-12
              if taal == 'NL'
                include ./include/easybookCategorie.html
              if taal == 'DE'
                include ./include/easybookCategorieDE.html  
              if taal == 'EN'
                include ./include/easybookCategorieEN.html  
        .footer
          p
            | Haus Brabant (c) 2016 A de Werdt
      include ./include/mobilenav.pug
include ./include/footer.pug
