- var koptextsub = 'sfeervol en modern uitgerust'
// menu
- var Appartement= 'Appartments'
- var Reservering = 'Reservation'

doctype html
html
  include ./include/head.pug
  body#Home
    overlay.appartement.start-overlay
    overlay.bar
    overlay.speelkamer
    .container
      .header
        .grid
          figure.effect-jazz
            img(src="images/header/appartementen.jpg")
            figcaption
              h2 Haus
                span  Brabant
              p= koptextsub
      .nav-container
        nav
          a.navbar-brand.pull-left.grow(href="#")
          ul
            li.nav-link
              a(href="indexEN.html" data-bg="appartement") Home
            li.nav-link
              a(href="#section-2" data-bg="appartement")= Appartement
            li.nav-link
              a(href="reserveringEN.html" data-bg="appartement")= Reservering
            li.nav-link.pull-left.topicon
              a(href="#section-1" data-bg="wandel")
                img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de
              a(href="appartementDE.html")
                img(src="images/de.png")
            .nl
              a(href="appartement.html")
                img(src="images/nl.png")
            .en
              a(href="appartementEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row.row-eq-height
            .col-lg-12.col-sm-12
              .editcms.cms-editable
                h1 Appartementen
                p
                  strong Extra Service/ Informatie <br>
                  i Broodjesservice:<br>
                  | U kunt elke dag verse broodjes bij ons bestellen. (graag dit wel op tijd door te geven)
                p
                  i Beddengoed en extra's :<br>
                  | Beddengoed, hand- en theedoeken<br>
                  | De keukens in de appartementen zijn volledig uitgerust met servies, bestek, kookplaat, koelkast, magnetron/ of oven, koffieapparaat en waterkoker.
                p
                  | Alle appartementen/kamers hebben beschikking over een (Oostenrijkse) satelliet TV. <br>
                  | Alle appartementen en kamers hebben toegang tot een gratis draadloze internet verbinding(WIFI).<br>
                p
                  h3 Overzicht appartementen
          .row
            .col-lg-12
              include ./include/easybookCategorieEN.html
        .footer
          p
            | Haus Brabant (c) 2016 A de Werdt
      include ./include/mobilenav.pug
include ./include/footer.pug
