doctype html
html
  include ./head.pug
  body#Home
    overlay.appartement.start-overlay
    overlay.bar
    overlay.speelkamer
    .container
      .header
        .grid
          figure.effect-jazz
            img(src="images/header/appartementen.jpg")
            figcaption
              h2 Haus
                span  Brabant
              p sfeervol en modern uitgerust
      .nav-container
        nav
          a.navbar-brand.pull-left.grow(href="#")
          ul
            li.nav-link
              a(href="index.html" data-bg="appartement") Home
            li.nav-link
              a(href="#section-2" data-bg="appartement") Appartement
            li.nav-link
              a(href="#section-3" data-bg="bar") Bar
            li.nav-link
              a(href="#section-4" data-bg="speelkamer") Speelkamer
          .nav-left
          .nav-right
      .mainbody
        section#section-2
          .row.row-eq-height
            .col-lg-12.col-sm-12
              .editcms.cms-editable
                h1 Appartementen
                p
                  strong Extra Service/ Informatie <br>
                  i Broodjesservice:<br>
                  | U kunt elke dag verse broodjes bij ons bestellen. (graag dit wel op tijd door te geven)
                p
                  i Beddengoed en extra's :<br>
                  | Beddengoed, hand- en theedoeken<br>
                  | De keukens in de appartementen zijn volledig uitgerust met servies, bestek, kookplaat, koelkast, magnetron/ of oven, koffieapparaat en waterkoker.
                p
                  | Alle appartementen/kamers hebben beschikking over een (Oostenrijkse) satelliet TV. <br>
                  | Alle appartementen en kamers hebben toegang tot een gratis draadloze internet verbinding(WIFI).<br>
                p
                  h3 Overzicht appartementen
          .row
            .col-lg-12
              include ./easybookCategorie.html
        section#section-3
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Bar
                p
                  | Haus Brabant heeft een gezellige inhouse bar voor al zijn gasten. Hier kunt u biljarten, tafeltennis, darts , kaarten en oh ja je kunt er ook nog een echte lekker Paullaner drinken.
                  | Onze gastvrijdheid en de sfeer is een van de specifieke kenmerken waarom veel gasten terugkomen.
                  | De brabantsegezelligheid is niet voor niets onze leus.
                p
                  | Als het weer het toestaat verzorgen we ook een barbecue met alles erop en eraan in onze achtertuin.
                  | Tot in de late uurtjes wordt hier feestgevierd.
                P
                  | De wintergasten kunnen u ook vertellen hoe we de brabantse carnaval naar Oostenrijk hebben gehaald.
                  | De apresski wordt dan op de voor ons kenmerkende wijze invulling gegeven.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/bar/bar1.jpg')
              .foto
                img(src='images/bar/bar2.jpg')
              .foto
                img(src='images/bar/bar3.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/bar/bar1.jpg')
        section#section-4
          .row
            .divider
            .col-lg-8.col-sm-8
              .editcms.cms-editable
                h1 Speelkamer
                p
                  | Als de kids het naar hun zin hebben is de vakantie vaak geslaagd is een vaak gehoorde zegswijze.
                  | Vaak is het behelpen op zo'n hotelkamer maar daar hebben wij wat op bedacht!
                p
                  | Voor de kids hebben wij een speelkamer ingericht waar ze lekker kunnen ravotten, klimmen, tafelvoetbal een playstation en alles waar onze eigen kinderen zich ook altijd mee vermaken.
                  | Grootste probleem vormt meestal om ze daar weer weg te krijgen....
                p
                  | Ook in onze achtertuin staan diverse speeltoestellen en een heus piratenschip!
                p
                  | Dus terwijl u een gezellige avond in de bar heeft kunnen uw kids op gepaste afstand lekker zichzelf zijn zodat u beiden een optimale vakantie kunt genieten.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/bar/speelkamer1.jpg')
              .foto
                img(src='images/bar/speelkamer2.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/bar/speelkamer1.jpg')
        .footer
          p
            | Haus Brabant (c) 2016 A de Werdt
      include ./mobilenav.pug
include ./footer.pug
