doctype html
html
  include ./head.pug

  body#Home
    overlay.appartement.start-overlay
    overlay.bar
    overlay.speelkamer
    .container
      .header
        .grid
          figure.effect-jazz
            img(src="images/appartementen.jpg")
            figcaption
              h2 Haus
                span  Brabant
              p sfeervol en modern uitgerust
      .nav-container
        nav
          a.navbar-brand.pull-left.grow(href="#")
          ul
            li.nav-link
              a(href="index.html" data-bg="appartement") Home
            li.nav-link
              a(href="#section-2" data-bg="appartement") Appartement
            li.nav-link
              a(href="#section-3" data-bg="bar") Bar
            li.nav-link
              a(href="#section-4" data-bg="speelkamer") Speelkamer
          .nav-left
          .nav-right
      .mainbody
        section#section-2
          .row.row-eq-height
            .col-lg-8.col-sm-8
              h1 Wandelen
              p
                | Talrijke wandelwegen en bergroutes op de spitsen van het Wetterstein- en Ammergebergte in de Lechtaler Alpen
                | en Mieminger Kette worden zowel door wandelaars als bergbeklimmers met open armen begroet.
                | Men wordt hier met fraaie uitzichten in de ware zin van het woord verwend.
                | De acht bergmeertjes van het gebied rondom de Zugspitze zijn absoluut landschappelijke juweeltjes.
              p
                | Wandeling 1: Zugspitze 2.962 m - looptijd: ca. 6 uur
                | Omhoog met de Tiroler Zugspitzbahn naar de top van de Zugspitze.
                | Naar beneden met de Gletscherbahn of via het moeilijke bergpad naar het plateau van de Zugspitze.
                | De weg leidt via de Knorrhütte 2.051 m naar de Gatterl 2.000 m - Feldernjöchl 2.045 m - Hochfeldern Alm 1.732 m –
                | Ehrwalder Alm 1.502 m – afdaling met de Ehrwalder Almbahn of te voet via
                | de Forst- of Wiesenweg naar het dal.
              p
                | Wandeling 2: Seebensee – Coburger Hütte 1.917 m – wandeltijd: circa 4 uur
                | Het vertrekpunt voor deze route is het dalstation van de Ehrwalder Almbahn.
                | Men kan met de kabelbaan of te voet het bergrestaurant Ehrwalder Alm bereiken. De brede wandelweg loopt via de Ganghofer`s Rast, langs de Seebenalm tot en met het wondermooi gelegen
                | Seebenmeertje. Van daaruit loopt een steil en bochtig pad naar de Coburgerhütte
              h3 Nordic Walking
              p
                | Vele jaren langlaufervaring in de wintersport vormen de basis van het enthousiasme voor Nordic Walking, een sport welke natuurlijk veel gelijkenis heeft met Langlaufen, ook wel bekend als Nordicskiën.
                | Nordic walkers komen in Ehrwald niets te kort. De grote open vlakte tussen Ehrwald, Lermoos en Biberwier is een eldorado voor de nordic walkers. Daarnaast zijn er allerlei koppeltrajecten naar naburige dalen. De Hochloipe Ehrwalder Alm nodigt uit tot een sprookjesachtige rondtocht te midden van een uitgestrekt landschap op 1500 meter hoogte.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
                .foto
                  img(src='images/zomer/wandel1.jpg')
                .foto
                  img(src='images/zomer/wandel2.jpg')
                .foto
                  img(src='images/zomer/wandel3.jpg')
        section#section-3
          .row#ZomerID
            .divider
            .col-lg-8.col-sm-8
              h1 Bar
              p
                | Haus Brabant heeft een gezellige inhouse bar voor al zijn gasten. Hier kunt u biljarten, tafeltennis, darts , kaarten en oh ja je kunt er ook nog een echte lekker Paullaner drinken.
                | Onze gastvrijdheid en de sfeer is een van de specifieke kenmerken waarom veel gasten terugkomen.
                | De brabantsegezelligheid is niet voor niets onze leus.
              p
                | Als het weer het toestaat verzorgen we ook een barbecue met alles erop en eraan in onze achtertuin.
                | Tot in de late uurtjes wordt hier feestgevierd.
              P
                | De wintergasten kunnen u ook vertellen hoe we de brabantse carnaval naar Oostenrijk hebben gehaald.
                | De apresski wordt dan op de voor ons kenmerkende wijze invulling gegeven.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/bar/bar1.jpg')
              .foto
                img(src='images/bar/bar2.jpg')
              .foto
                img(src='images/bar/bar3.jpg')
        section#section-4
          .row#WinterID
            .divider
            .col-lg-8.col-sm-8
              h1 Speelkamer
              p
                | Als de kids het naar hun zin hebben is de vakantie vaak geslaagd is een vaak gehoorde zegswijze.
                | Vaak is het behelpen op zo'n hotelkamer maar daar hebben wij wat op bedacht!
              p
                | Voor de kids hebben wij een speelkamer ingericht waar ze lekker kunnen ravotten, klimmen, tafelvoetbal een playstation en alles waar onze eigen kinderen zich ook altijd mee vermaken.
                | Grootste probleem vormt meestal om ze daar weer weg te krijgen....
              p
                | Ook in onze achtertuin staan diverse speeltoestellen en een heus piratenschip!
              p
                | Dus terwijl u een gezellige avond in de bar heeft kunnen uw kids op gepaste afstand lekker zichzelf zijn zodat u beiden een optimale vakantie kunt genieten.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/bar/speelkamer1.jpg')
              .foto
                img(src='images/bar/speelkamer2.jpg')
        .footer
          p
            | Haus Brabant (c) 2016 A de Werdt
      navm.mobile-nav
        .menu-mobile-footer
          ul#menu-mobile-footer.menu
            li#telefoon
              a(href="tel:+43 6 50 41 65 726")
            li#mail
              a(href="mailto:info@hausbrabant.com")
            li#whatsapp
              a(href="intent://send/+436504165726#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end")
            li#facebook
              a(href="http://www.facebook.com/hausbrabant")
            li#book-now
              a(href="#") Book Now
      include ./footer.pug
