//- includes/head.jade

meta(charset="utf-8")
link( rel="apple-touch-icon" href="apple-touch-icon.png")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="keywords", content="Wintersport, ehrwald, oostenrijk, tirol, winterport ehrwald, wintersport oostenrijk")
meta(name="keywords", content="wintersport tirol, wintersport in ehrwald, wintersport in oostenrijk, wintersport in tirol")
meta(name="keywords", content="zomervakantie in oostenrijk, zomervakantie in ehrwald, zomervakantie in tirol, mountainbiken in oostenrijk")
meta(name="keywords", content="mountainbiken in ehrwald, mountainbiken in tirol, wandelen oostenrijk, wandelen ehrwald, wandelen tirol")
meta(name="keywords", content="wandelen in oostenrijk, wandelen in ehrwald, wandelen in tirol, goedkoop wintersport, goedkope wintersport")
meta(name="keywords", content="gezellige wintersport, goedkope zomervakantie oostenrijk, goedkope wintersport ehrwald, goedkoop wintersport Ehrwald")
meta(name="keywords", content="goedkoop wintersport oostenrijk, skieen oostenrijk, skieen ehrwald, ehrwald skieen, oostenrijk skieen, ehrwald snowboarden")
meta(name="keywords", content="snowboarden oostenrijk, langlaufen oostenrijk, langlaufen ehrwald, goedkoop hotel ehrwald, goedkoop hotel oostenrijk")
meta(name="keywords", content="goedkoop appartement oostenrijk, apréskieen oostenrijk, apréskieen ehrwald, oostenrijk apreskieen, ehrwald apreskieen")
meta(name="keywords", content="apreskieen oostenrijk, apreskieen ehrwald, lekker eten ehrwald, skiles ehrwald, skiles oostenrijk, oostenrijk skiles")
meta(name="keywords", content="ehrwald skiles, lastminut oostenrijk, lastminut wintersport, lastminut ehrwald, aanbieding wintersport, aanbieding oostenrijk")
meta(name="keywords", content="aanbieding oostenrijk wintersport, aanbieding ehrwald, aanbieding skieen, aanbiedingen wintersport")


<!-- build:css css/styles.min.css -->
link(href="styles/fonts.css" rel="stylesheet")
link(href="styles/headerstyles.css" rel="stylesheet")
link(href="styles/effectVakken.css" rel="stylesheet")
link(href="styles/main.css" rel="stylesheet")
link(href="styles/navbar.css" rel="stylesheet")
link(href="styles/mobilenav.css" rel="stylesheet")
link(href="styles/pageheader.css" rel="stylesheet")
link(href="styles/foto.css" rel="stylesheet")
link(href="styles/button.css" rel="stylesheet")
link(href="styles/animate.min.css" rel="stylesheet")
link(href="styles/jquery.fancybox.css" rel="stylesheet" )
<!-- endbuild -->
script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
