p Proficiat! Je bent terecht gekomen bij een gezellig appartementenhuis in Tirol.

p <strong> Wie zijn wij?</strong> Wij zijn een jong gezin met 5 kinderen. <br> Helmut, Leonie, Joy, Brett, Sky, Yesse en Kate 

p Onze jeugd hebben wij doorgebracht in het Brabantse Lieshout en Beek en Donk. Samen hebben wij de laatste jaren in het dorpje Waalre gewoond, van waaruit wij verhuist zijn naar Tirol.

p In 2009 hebben wij dit huis overgenomen van een Oostenrijkse familie. De eerste jaren hebben wij de naam Bayricherhof-tirol doorgevoerd.
p Nadat wij in 2011 de naam brabantsegezelligheid hebben geïntroduceerd zijn wij in 2012 verder gegaan als Haus Brabant.
p Haus Brabant heeft 7 appartementen en een 2-4 pers. kamer. Het voorste gedeelte van ons huis dateert nog uit 1890 en zal in 2014/2015 verbouwd worden. De appartementen bevinden zich aan de achterzijde van ons huis, en hebben een panoramische uitkijk op de "Zugspitze".
p Bent je op zoek naar een heerlijke welverdiende vakantie?<br> Stop dan maar met zoeken want bij ons in HAUS BRABANT in Ehrwald bent je gegarandeerd aan het juiste adres. <br> Bij aankomst krijg je van ons voldoende informatie en uitleg over de omgeving. Genoeg om wél 2 weken vooruit te kunnen!
