doctype html
html
  head
    include ./head.pug
  body#Home
    overlay.appartement.start-overlay
    .container
      .header
        .grid
          figure.effect-jazz
            img(src="images/header/appartementen.jpg")
            figcaption
              h2 Haus
                span  Brabant
              p sfeervol en modern uitgerust
      .nav-container
        nav
          a.navbar-brand.pull-left.grow(href="#")
          ul
            li.nav-link
              a(href="index.html" data-bg="appartement") Home
            li.nav-link
              a(href="#section-2" data-bg="appartement") Reservering
          .nav-left
          .nav-right
      .mainbody
        section#section-2
          .row
            .divider
            .col-lg-12
              .editcms.cms-editable
                h1 Reservering
                p
                  | U kunt een reservering maken via onderstaand formulier<br>
                  | Mocht u geen geschikte data kunnen vinden stuur dan altijd even een mail naar <span class="reverse">moc.tnabarbsuah@ofni</span>
                  | dan kunnen we altijd kijken of we door hier en daar wat te schuiven toch aan uw voorkeur kunnen voldoen.<br>
                  | <br>

                include ./easybookV2.html
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./mobilenav.pug
include ./footer.pug
