- var koptextsub = 'sfeervol en modern uitgerust'
// menu
- var Reservering = 'Reservering'

doctype html
html
  head
    include ./include/head.pug
  body#Home
    overlay.appartement.start-overlay
    .container
      .header
        .figure.effect-menu
          img(src="images/header/appartementen.jpg")
          figcaption
            h2 Haus
              span  Brabant
            p= koptextsub
      .nav-container
        nav
          a.navbar-brand.pull-left.grow(href="#")
          ul
            li.nav-link
              a(href="index.html" data-bg="appartement") Home
            li.nav-link
              a(href="#section-2" data-bg="appartement")= Reservering
            li.nav-link.pull-left.topicon
              a(href="#section-1" data-bg="appartement")
                img(src='images/top.svg')
          div.fblogo
            a(href="https://www.facebook.com/brabantsegezelligheid/" target='new')
              img(src='images/fb.png')
          div.taal
            .de
              a(href="reserveringDE.html")
                img(src="images/de.png")
            .nl
              a(href="reservering.html")
                img(src="images/nl.png")
            .en
              a(href="reserveringEN.html")
                img(src="images/en.png")
          .nav-left
          .nav-right
      .mainbody
        section#section-1
        section#section-2
          .row
            .divider
            .col-lg-12
              .editcms.cms-editable
                h1 Reservering
                p
                  | Vrijblijvende aanvraag of reservering? 
                p
                  | Via onderstaand formulier kom je in het boekingssysteem van Haus Brabant
                  | Na het selecteren van het appartement kom je bij het invoeren van je persoonsgegevens.<br/>
                  | Hier kun je dan direct reserveren of kiezen voor een aanvraag.
                  | <br>

                include ./include/easybookV2.html
        .footer
          p
            | Haus Brabant (c) 2016 fam v. Schijndel
      include ./include/mobilenav.pug
include ./include/footer.pug
