//
  iframe(src="http://www.youtube.com/embed/A4r_8q5_rvw?autohide=1&autoplay=0&controls=0")
  iframe(src="http://www.youtube.com/embed/rqZWLk-HsHg?autohide=1&autoplay=0&controls=0")
  iframe(src="http://www.youtube.com/embed/FaxgLmY7M68?autohide=1&autoplay=0&controls=0")
