doctype html
  meta(charset="utf-8")
  title Haus Brabant
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="styles/main.css")
  link(rel="stylesheet" href="styles/mobilenav.css")
  link(rel="stylesheet" href="styles/headerstyles.css")

  body
    header
      nav
    main
    footer
    
