doctype html
html
  include ./head.pug

  body#Home
    overlay.winter.start-overlay
    overlay.langlaufen
    overlay.skiien
    overlay.wandelsnow
    .container
      .header
        .grid
          figure.effect-jazz
            img(src="images/winterbalk.jpg")
            figcaption
              h2 Winter in
                span  Ehrwald
              p Gegarandeerde winterpret voor het hele gezin
      .nav-container
        nav
          a.navbar-brand.pull-left.grow(href="#")
          ul
            li.nav-link
              a(href="index.html" data-bg="winter") Home
            li.nav-link
              a(href="#section-2" data-bg="langlaufen") Langaufen
            li.nav-link
              a(href="#section-3" data-bg="skiien") Ski
            li.nav-link
              a(href="#section-4" data-bg="skiien") Rodelen
            li.nav-link
              a(href="#section-5" data-bg="wandelsnow") Wandelen
            li.nav-link
              a(href="#section-6" data-bg="wandelsnow") Activiteiten
          .nav-left
          .nav-right
      .mainbody
        section#section-2
          .row.row-eq-height
            .col-lg-8.col-sm-8
              h1 Langaufen
              p
                | De grote open vlakte tussen Ehrwald, Lermoos en Biberwier is een eldorado voor de loipen liefhebber.
                | Daarnaast zijn er allerlei koppeltrajecten naar naburige dalen.
              p
                | De Hochloipe Ehrwalder Alm nodigt uit tot een sprookjesachtige rondtocht te midden van een sneeuwrijk landschap op 1500 meter hoogte.
                | Regionaal 100 km loipen, met afwisselende hoogtes van 996–1847 meter.
                | Deze Loipen hebben een totale lengte van 63 km, verdeelt in;<br>
                | Blauw (licht): 8 km<br>
                | Rood (middel): 20 km<br>
                | Zwart (zwaar): 15 km<br>
                | Groen (Skate): 10 km<br>
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
                .foto
                  img(src='images/winter/langlauf1.jpg')
                .foto
                  img(src='images/winter/langlauf2.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/langlauf1.jpg')
        section#section-3
          .row#ZomerID
            .divider
            .col-lg-8.col-sm-8
              h1 Ski / Snowboard
              p
                | De Zugspitz Arena omvat meerdere dorpen waar met een en dezelfde ski-kaart terecht kunt.
                | U kunt skieen van Bergwang tot het Duitse Garmisch met zijn bekende Hanenkam. <br>
                | Door de aanwezigheid van de gletscher op de Zugspitze is dit gebied verzekerd van sneeuw.<br>
              p
                | Het totale skigebied van Ehrwald valt in drie delen uiteen.
              p
                | Deze drie gebieden met in totaal 64,5 km piste.<br>
                | Aan de rand van het dorp ligt het kleine skigebied Wetterstein. Hier krijgen beginnende skiërs heerlijke oefenpistes voorgeschoteld.
              p
                | Een logisch vervolg hierop is de Ehrwalder Alm, een modern opgezet sneeuwdomein met een cabinelift, twee stoeltjesliften en drie sleepliften. Met de sneeuwzekerheid zit het wel snor want de skipistes kunnen kunstmatig worden besneeuwd. Vooral gevorderde skiërs komen op de Alm goed aan hun trekken.
                | Ehrwald beschikt over een prima skischool en een kinderskischool (snowland) met opvang tussen de middag.
              p
                | Voor een overzicht van het ski gebied zie hier :
                a(href='images/winter/skikaartehrwald.pdf' target='new') Ski-kaart Ehrwald
              p
                | Ook voor de snow-boarders heeft Ehrwald heel wat te bieden. Een uitgebreid snowpark met giga jumps en allerlei rails.<br>
                | Voor een overzicht van de mogelijkheden geeft de site van de
                a(href='http://www.almbahn.at/nl/winter/skigebied/snowpark/' target='new') Ehrwalder Alm
                |  alle info
              p
                | Op 3 km van Ehrwald voert een grote zweefbaan in tien minuten naar de top van de Zugspitze (2964 meter), de hoogste berg van Duitsland.
                | Het ritje is zo spectaculair dat er ook veel mensen zonder skiuitrusting gebruik van maken.
                | Onder de top van de Zugspitze ligt het skigebied Zugspitzplatt (gletsjer) dat eveneens vanuit Garmisch-Partenkichen (Duitsland) per bergtreintje te bereiken is.
                | Door de hoge ligging vind je hier droomsneeuw van november tot mei, en heeft Ehrwald altijd gegarandeerde sneeuwzekerheid achter de hand. Allemaal heerlijke blauwe en rode carvingpistes geflankeerd door offpiste-hellingen.
                | Via een spectaculaire offpiste route is het mogelijk af te dalen naar de Ehrwalder Alm. (Neue Welt)
                | Buiten de pistes is de Zugspitzplatt dus een waar diepsneeuwparadijs.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/ski1.jpg')
              .foto
                img(src='images/winter/ski2.jpg')
              .foto
                img(src='images/winter/ski3.jpg')
          .row
            .col-lg-12
              .containtable
                table.table-responsive.animated(data-os-animation='fadeIn')
                  tbody
                  tr
                    th  Ehrwald
                  tr
                    th &nbsp &nbsp 17,0 km Piste&nbsp
                    th Zugsspitze
                    th &nbsp
                      a(href='http://www.Zugspitze.at' target='new') www.Zugspitze.at
                  tr
                    th &nbsp &nbsp 26,0 km Piste&nbsp
                    th Ehrwalder Alm
                    th &nbsp
                      a(href='http://www.ehrwalderalmbahn.at' target='new') www.ehrwalderalmbahn.at
                  tr
                    th &nbsp &nbsp 17,0 km Piste&nbsp
                    th Wettersteinbahnen Sonnenlifte
                    th &nbsp
                      a(href='http://www.wetterstein-bahnen.at' target='new') www.wetterstein-bahnen.at
                  tr
                    th Lermoos
                  tr
                    th &nbsp &nbsp 33,0 km Piste&nbsp
                    th Grubigsteinbahnen
                    th &nbsp
                      a(href='http://www.bergbahnen-langes.at' target='new') www.bergbahnen-langes.at
                  tr
                    th Biberwier
                  tr
                    th &nbsp &nbsp 14,0 km Piste&nbsp
                    th Marienberg
                    th &nbsp
                      a(href='http://www.bergbahnen-langes.at' target='new') www.bergbahnen-langes.at
                  tr
                    th Berwang/Bichlbach
                  tr
                    th &nbsp;&nbsp;35,4 km Piste&nbsp
                    th Skischaukel Berwangertal / Almkopfbahn
                    th &nbsp
                      a(href='http://www.skischaukel-berwang.at' target='new') www.skischaukel-berwang.at
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/ski1.jpg')
        section#section-4
          .row#WinterID
            .divider
            .col-lg-8.col-sm-8
              h1 Rodelen
              p
                | Uw sneeuwvakantie is niet compleet als je dit niet een keer ervaren hebt.
              p
                | Alleen of met zijn tweeën de berg af suizen. Heerlijk de berg af kun je overdag op de BrentAlm tot onder in het dorp.
              p
                | Elke woensdag en vrijdagavond is er vanaf de Ehrwalder Alm een te gekke rodel gelegenheid over een verlichte piste.<br>
                | Let wel op met drankgebruik, deze avonden kunnen zeer gezellig zijn ;).
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/rodelen1.jpg')
              .foto
                img(src='images/winter/rodelen2.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/rodelen1.jpg')
        section#section-5
          .row
            .divider
            .col-lg-8.col-sm-8
              h1 Wandelen
              p
                | De "Zugspitz Arena" staat voor kilometers wandelplezier in de winter.
                | Ideaal voor de niet-skiërs, terwijl de kinderen of kleinkinderen skiën zijn, lekker door de verse sneeuw wandelen.
              p
                | Dagelijks worden de wandelpaden onderhouden door mini-sneeuwruimers. In het toeristenbureau kan je wandelkaartjes krijgen.
              p
                | Alle wandelingen zijn goed bewegwijzerd zodat je ook zonder kaart niet snel verloren zal lopen.
                | De wandelpaden die in de winter vrijgemaakt zijn, zijn voor iedereen goed te doen. Ook met een iets minder goede conditie kan je deze wegen aan.
                | De 3 dorpjes Ehrwald, Lermoos en Biberwier liggen in een heel groot dal, hierdoor kan je ook kilometers vlak wandelen.
                | Je hebt ook altijd de mogelijkheid om met de skibus mee te pendelen in het dal. Laat je bijvoorbeeld afzetten in het ene dorp en loop heerlijk wandelend naar je bestemming.
              p
                | <i>Wandeling 1: De weideweg tussen Ehrwald en Lermoos.</I><br>
                | De ideale wandeling om je wintervakantie mee te starten. Héél gemakkelijk en volledig vlak. Je wandelt tussen 2 muren van sneeuw van het ene dorp na het andere. In Ehrwald start je bij hotel “Zum Grünen Baum”, waar je afdaalt naar de weide en in Lermoos vertrek je meestal tegenover de camping of langs “hotel Post”. De wandeling duurt zo'n 45 minuten en je hebt de mooiste zichten onderweg. Er staan veel banken zodat je altijd wel ergens in het zonnetje kan genieten. Er loopt een riviertje langs de weg zodat je voortdurend het kabbelende water hoort. Neem ook je tijd om eens in het riviertje te kijken, het water is zo helder dat je de forellen ziet zwemmen! Vooral in de schaduw van de bruggen kan je ze terugvinden.
                | 's Morgens vroeg zorgt dit riviertje soms voor een sprookjesachtig effect, er hangt dan een lage mist en de bomen in de weide hangen vol met sneeuw.
              p
                | <i>Wandeling 2: De panoramaweg tussen Ehrwald en Lermoos.</i><br>
                | Een mooie wandeling met enkel in het begin en einde een beetje stijgen en dalen. In Ehrwald vertrek je in de buurt van het Esso benzinestation, even onder de grote brug door en vervolgens links omhoog. Vanuit Lermoos begint de wandeling in de buurt van het station, daar stijg je gedurende een 10-tal minuutjes. Vervolgens blijf je op dezelfde hoogte tot de afdaling naar Ehrwald begint.
                | Deze wandeling duurt ongeveer 60 min, onderweg staan er banken met telkens een mooi zicht op het dal en de skipistes aan de andere kant van het dal. Ongeveer halfweg is er ook een privéchalet van een Oostenrijker met een bankje in de zon en een gastenboek (hüttebuch). Honderden mensen hebben hier al hun bewondering voor het sprookjesachtige dal beschreven. Zeker de moeite om eens, genietend van het zonnetje, deze commentaren te lezen. De hut ligt ongeveer een 50-tal meter van de wandelweg.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/wandelen1.jpg')
              .foto
                img(src='images/winter/wandelen2.jpg')
              .foto
                img(src='images/winter/wandelen3.jpg')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/wandelen1.jpg')
        section#section-6
          .row
            .divider
            .col-lg-8.col-sm-8
              h1 Activiteiten
              h3 Arrenslee
              p
                | Een romantisch tochtje met de arrenslee?<br>
                | Ideaal om een comfortabele tour door de omgeving te maken.<br>
                | De slee met de wagenmenner vindt u meestal voor de kerk bij het plein.
              p <br>
              p <br>
              h3 Avondskieen
              p
                | Op diverse avonden bestaat de mogelijkheid om op verlichte pistes af te dalen. O.a. in Berwang en Lermoos worden de pistes 's avonds opengesteld voor een avontuurlijke afdaling onder kunstlicht.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='images/winter/arrenslee1.jpg' alt='Arrenslee')
              .foto
                img(src='images/winter/avondski1.jpg' alt='Avond ski in Bergwang')
          .row.fotomobile.animated(data-os-animation='fadeIn')
            .col-sm-12
              img(src='images/winter/wandel1.jpg')
          .row
            .col-lg-12
              .containtable
                table.table.table-striped.table-responsive.animated(data-os-animation='fadeIn')
                  thead
                    tr
                      th Bezienswaardigheid
                      th Plaats
                      th Land
                      th Webpagina
                  tbody
                    tr
                      th Plansee Heiterwang
                      th Heiterwang
                      th Oostenrijk
                      th
                        a(href='http://www.zugspitzarena.com' target='new') www.zugspitzarena.com
                    tr
                      th Burgenwelten Ehrenberg
                      th Reutte
                      th Oostenrijk
                      th
                        a(href='www.ehrenberg.at' target='new') www.ehrenberg.at
                    tr
                      th Schloß Fernstein en Fernstein See
                      th Nassereith
                      th Oostenrijk
                      th
                        a(href='http://www.fernsteinsee.at' target='new') www.fernsteinsee.at
                    tr
                      th EibSee
                      th Grainau
                      th Duitsland
                      th
                        a(href='http://www.eibsee.de' target='new') www.eibsee.de
                    tr
                      th Schloß Linderhof
                      th Ettal
                      th Duitsland
                      th
                        a(href='http://www.schlosslinderhof.de' target='new') www.schlosslinderhof.de
                    tr
                      th Kloster Ettal
                      th Ettal
                      th Duitsland
                      th
                        a(href='http://www.kloster-ettal.de' target='new') www.kloster-ettal.de
                    tr
                      th "het sprookjeskasteel"
                      th Neuschwanstein	Schwangau
                      th Duitsland
                      th
                        a(href='http://www.neuschwanstein.de' target='new') www.neuschwanstein.de
                    tr
                      th Geierwally Freilichtbühne
                      th Elbigenalp
                      th Oostenrijk
                      th
                        a(href='http://www.lechtal.at' target='new') www.lechtal.at
                    tr
                      th Geisterklamm
                      th Leutasch
                      th Oostenrijk
                      th
                        a(href='http://www.leutasch.net' target='new') www.leutasch.net
                    tr
                      th Swarovski kristalwerelden
                      th Wattens
                      th Oostenrijk
                      th
                        a(href='http://kristallwelten.swarovski.com' target='new') kristallwelten.swarovski.com
        .footer
          p
            | Haus Brabant (c) 2016 A de Werdt
      navm.mobile-nav
        .menu-mobile-footer
          ul#menu-mobile-footer.menu
            li#telefoon
              a(href="tel:+43 6 50 41 65 726")
            li#mail
              a(href="mailto:info@hausbrabant.com")
            li#whatsapp
              a(href="intent://send/+436504165726#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end")
            li#facebook
              a(href="http://www.facebook.com/hausbrabant")
            li#book-now
              a(href="#") Book Now
include ./footer.pug
