doctype html
html
  meta(charset="utf-8")
  title Haus Brabant
  link( rel="apple-touch-icon" href="apple-touch-icon.png")
  meta(name="keywords", content="Wintersport, ehrwald, oostenrijk, tirol, winterport ehrwald, wintersport oostenrijk, wintersport tirol, wintersport in ehrwald, wintersport in oostenrijk, wintersport in tirol, zomervakantie in oostenrijk, zomervakantie in ehrwald, zomervakantie in tirol, mountainbiken in oostenrijk, mountainbiken in ehrwald, mountainbiken in tirol, wandelen oostenrijk, wandelen ehrwald, wandelen tirol, wandelen in oostenrijk, wandelen in ehrwald, wandelen in tirol, goedkoop wintersport, goedkope wintersport, gezellige wintersport, goedkope zomervakantie oostenrijk, goedkope wintersport ehrwald, goedkoop wintersport ehrwald, goedkoop wintersport oostenrijk, skieen oostenrijk, skieen ehrwald, ehrwald skieen, oostenrijk skieen, ehrwald snowboarden, snowboarden oostenrijk, langlaufen oostenrijk, langlaufen ehrwald, goedkoop hotel ehrwald, goedkoop hotel oostenrijk, goedkoop appartement oostenrijk, apréskieen oostenrijk, apréskieen ehrwald, oostenrijk apreskieen, ehrwald apreskieen, apreskieen oostenrijk, apreskieen ehrwald, lekker eten ehrwald, skiles ehrwald, skiles oostenrijk, oostenrijk skiles, ehrwald skiles, lastminut oostenrijk, lastminut wintersport, lastminut ehrwald, aanbieding wintersport, aanbieding oostenrijk, aanbieding oostenrijk wintersport, aanbieding ehrwald, aanbieding skieen, aanbiedingen wintersport")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  <!-- build:css css/styles.min.css -->
  link(href="styles/fonts.css" rel="stylesheet")
  link(href="styles/headerstyles.css" rel="stylesheet")
  link(href="styles/effectVakken.css" rel="stylesheet")
  link(href="styles/main.css" rel="stylesheet")
  link(href="styles/navbar.css" rel="stylesheet")
  link(href="styles/mobilenav.css" rel="stylesheet")
  link(href="styles/pageheader.css" rel="stylesheet")
  link(href="styles/animate.min.css" rel="stylesheet")
  link(href="styles/foto.css" rel="stylesheet")
  link(href="styles/button.css" rel="stylesheet")
  <!-- endbuild -->
  script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")

  body#Home
    overlay.winter.start-overlay
    overlay.langlaufen
    overlay.skiien
    overlay.wandelsnow
    .container
      .header
        .grid
          figure.effect-jazz
            img(src="images/winterbalk.jpg")
            figcaption
              h2 Winter in
                span  Ehrwald
              p Gegarandeerde winterpret voor het hele gezin
      .nav-container
        nav
          a.navbar-brand.pull-left.grow(href="#")
          ul
            li.nav-link
              a(href="index.html" data-bg="winter") Home
            li.nav-link
              a(href="#section-2" data-bg="langlaufen") Langaufen
            li.nav-link
              a(href="#section-3" data-bg="skiien") Ski
            li.nav-link
              a(href="#section-4" data-bg="skiien") Rodelen
            li.nav-link
              a(href="#section-5" data-bg="wandelsnow") Wandelen
            li.nav-link
              a(href="#section-6" data-bg="wandelsnow") Activiteiten
          .nav-left
          .nav-right
      .mainbody
        section#section-2
          .row.row-eq-height
            .col-lg-8.col-sm-8
              h1 Langaufen
              p
                | De grote open vlakte tussen Ehrwald, Lermoos en Biberwier is een eldorado voor de loipen liefhebber. Daarnaast zijn er allerlei koppeltrajecten naar naburige dalen. De Hochloipe Ehrwalder Alm nodigt uit tot een sprookjesachtige rondtocht te midden van een sneeuwrijk landschap op 1500 meter hoogte. Regionaal 100 km loipen, met afwisselende hoogtes van 996–1847 meter.
                | Deze Loipen hebben een totale lengte van 63 km, verdeelt in;<br>
                | Blauw (licht): 8 km<br>
                | Rood (middel): 20 km<br>
                | Zwart (zwaar): 15 km<br>
                | Groen (Skate): 10 km<br>
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
                .foto
                  img(src='/images/winter/langlauf1.jpg')
                .foto
                  img(src='/images/winter/langlauf2.jpg')
          hr
        section#section-3
          .row#ZomerID
            hr
            .col-lg-8.col-sm-8
              h1 Skieen
              p
                | De Zugspitz Arena omvat meerdere dorpen waar met een en dezelfde ski-kaart terecht kunt.
                | U kunt skieen van Bergwang tot het Duitse Garmisch met zijn bekende Hanenkam. <br>
                | Door de aanwezigheid van de gletscher op de Zugspitze is dit gebied verzekerd van sneeuw.<br>
              p
                | Het totale skigebied van Ehrwald valt in drie delen uiteen.
              p
                | Deze drie gebieden met in totaal 64,5 km piste.<br>
                | Aan de rand van het dorp ligt het kleine skigebied Wetterstein. Hier krijgen beginnende skiërs heerlijke oefenpistes voorgeschoteld.
              p
                | Een logisch vervolg hierop is de Ehrwalder Alm, een modern opgezet sneeuwdomein met een cabinelift, twee stoeltjesliften en drie sleepliften. Met de sneeuwzekerheid zit het wel snor want de skipistes kunnen kunstmatig worden besneeuwd. Vooral gevorderde skiërs komen op de Alm goed aan hun trekken.
                | Ehrwald beschikt over een prima skischool en een kinderskischool (snowland) met opvang tussen de middag.
              p
                | Voor een overzicht van het ski gebied zie hier :
                a(href='images/winter/skikaartehrwald.pdf' target='new') Ski-kaart Ehrwald
              p
                | Ook voor de snow-boarders heeft Ehrwald heel wat te bieden. Een uitgebreid snowpark met giga jumps en allerlei rails.<br>
                | Voor een overzicht van de mogelijkheden geeft de site van de
                a(href='http://www.almbahn.at/nl/winter/skigebied/snowpark/' target='new') Ehrwalder Alm
                |  alle info
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='/images/winter/ski1.jpg')
              .foto
                img(src='/images/winter/ski2.jpg')
              .foto
                img(src='/images/winter/ski3.jpg')
            hr
        section#section-4
          .row#WinterID
            hr
            .col-lg-8.col-sm-8
              h1 Golfen
              p
                | De golfplaats ligt prachtig ingesloten in een wonderschone en rustige omgeving tussen Ehrwald en Lermoos en dat is ongetwijfeld het grootste pluspunt.
              p
                | Wanneer men spreekt over een natuurpracht, dan zal men niet alleen verrast zijn door de grootte van de Wettersteinmassives met Duitslands hoogste berg, de Zugspitze, maar simpelweg onder de indruk zijn van de tot 3.000 meter hoge bergtoppen.
              p
                | De op natuurlijke bodem aangelegde golfbaan is gebouwd naar de top actuele internationale voorschriften en is voor toernooispelen uitermate goed geschikt.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='/images/zomer/golf1.jpg')
              .foto
                img(src='/images/zomer/golf3.jpg')
            hr
        section#section-5
          .row
            hr
            .col-lg-8.col-sm-8
              h1 Rodelen
              p
                | Wie in de zomer naar de Zugspitz Arena trekt moet absoluut eens een ritje op de langste zomerrodelbaan van Tirol (1,5 km). Kinderen, maar ook de papa’s en mama’s, zijn helemaal weg van deze rodelbaan.
              p
                | In de buurt van hotel “Cube” in Biberwier kan je met de Marienbergbahn naar de startplaats.
              p
                | De allerkleinsten kunnen met papa of mama mee op de schoot genieten van een spannende rit naar beneden. Dankzij de rem (en die heb je nodig) kan je zelf je snelheid bepalen. De allereerste rit zal je waarschijnlijk je rodel in toom willen houden, maar al vrij snel komt de raceduivel in je los.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='/images/zomer/rodelen1.jpg')
            hr
        section#section-6
          .row
            hr
            .col-lg-12.col-sm-12
              h1 Activiteiten
              table.table.table-striped.table-responsive.animated(data-os-animation='fadeIn')
                thead
                  tr
                    th Bezienswaardigheid
                    th Plaats
                    th Land
                    th Webpagina
                tbody
                  tr
                    th Plansee Heiterwang
                    th Heiterwang
                    th Oostenrijk
                    th
                      a(href='http://www.zugspitzarena.com' target='new') www.zugspitzarena.com
                  tr
                    th Burgenwelten Ehrenberg
                    th Reutte
                    th Oostenrijk
                    th
                      a(href='www.ehrenberg.at' target='new') www.ehrenberg.at
                  tr
                    th Schloß Fernstein en Fernstein See
                    th Nassereith
                    th Oostenrijk
                    th
                      a(href='http://www.fernsteinsee.at' target='new') www.fernsteinsee.at
                  tr
                    th EibSee
                    th Grainau
                    th Duitsland
                    th
                      a(href='http://www.eibsee.de' target='new') www.eibsee.de
                  tr
                    th Schloß Linderhof
                    th Ettal
                    th Duitsland
                    th
                      a(href='http://www.schlosslinderhof.de' target='new') www.schlosslinderhof.de
                  tr
                    th Kloster Ettal
                    th Ettal
                    th Duitsland
                    th
                      a(href='http://www.kloster-ettal.de' target='new') www.kloster-ettal.de
                  tr
                    th "het sprookjeskasteel"
                    th Neuschwanstein	Schwangau
                    th Duitsland
                    th
                      a(href='http://www.neuschwanstein.de' target='new') www.neuschwanstein.de
                  tr
                    th Geierwally Freilichtbühne
                    th Elbigenalp
                    th Oostenrijk
                    th
                      a(href='http://www.lechtal.at' target='new') www.lechtal.at
                  tr
                    th Geisterklamm
                    th Leutasch
                    th Oostenrijk
                    th
                      a(href='http://www.leutasch.net' target='new') www.leutasch.net
                  tr
                    th Swarovski kristalwerelden
                    th Wattens
                    th Oostenrijk
                    th
                      a(href='http://kristallwelten.swarovski.com' target='new') kristallwelten.swarovski.com
            hr
        .footer
          p
            | Haus Brabant (c) 2016 A de Werdt
      navm.mobile-nav
        .menu-mobile-footer
          ul#menu-mobile-footer.menu
            li#telefoon
              a(href="tel:#{tel}")
            li#mail
              a(href="mailto:#{mail}")
            li#whatsapp
              a(href="intent://send/#{tel}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end")
            li#facebook
              a(href="http://www.facebook.com/hausbrabant")
            li#book-now
              a(href="#") Book Now

    <!-- Google Analytics: change UA-XXXXX-X to be your sites ID. -->
    script(src="scripts/google.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/shortcuts/sticky.js")
    script(src="scripts/main.js")
