doctype html
html
  meta(charset="utf-8")
  title Haus Brabant
  link( rel="apple-touch-icon" href="apple-touch-icon.png")
  meta(name="keywords", content="Wintersport, ehrwald, oostenrijk, tirol, winterport ehrwald, wintersport oostenrijk, wintersport tirol, wintersport in ehrwald, wintersport in oostenrijk, wintersport in tirol, zomervakantie in oostenrijk, zomervakantie in ehrwald, zomervakantie in tirol, mountainbiken in oostenrijk, mountainbiken in ehrwald, mountainbiken in tirol, wandelen oostenrijk, wandelen ehrwald, wandelen tirol, wandelen in oostenrijk, wandelen in ehrwald, wandelen in tirol, goedkoop wintersport, goedkope wintersport, gezellige wintersport, goedkope zomervakantie oostenrijk, goedkope wintersport ehrwald, goedkoop wintersport ehrwald, goedkoop wintersport oostenrijk, skieen oostenrijk, skieen ehrwald, ehrwald skieen, oostenrijk skieen, ehrwald snowboarden, snowboarden oostenrijk, langlaufen oostenrijk, langlaufen ehrwald, goedkoop hotel ehrwald, goedkoop hotel oostenrijk, goedkoop appartement oostenrijk, apréskieen oostenrijk, apréskieen ehrwald, oostenrijk apreskieen, ehrwald apreskieen, apreskieen oostenrijk, apreskieen ehrwald, lekker eten ehrwald, skiles ehrwald, skiles oostenrijk, oostenrijk skiles, ehrwald skiles, lastminut oostenrijk, lastminut wintersport, lastminut ehrwald, aanbieding wintersport, aanbieding oostenrijk, aanbieding oostenrijk wintersport, aanbieding ehrwald, aanbieding skieen, aanbiedingen wintersport")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  <!-- build:css css/styles.min.css -->
  link(href="styles/fonts.css" rel="stylesheet")
  link(href="styles/headerstyles.css" rel="stylesheet")
  link(href="styles/effectVakken.css" rel="stylesheet")
  link(href="styles/main.css" rel="stylesheet")
  link(href="styles/navbar.css" rel="stylesheet")
  link(href="styles/mobilenav.css" rel="stylesheet")
  link(href="styles/pageheader.css" rel="stylesheet")
  link(href="styles/animate.min.css" rel="stylesheet")
  link(href="styles/foto.css" rel="stylesheet")
  link(href="styles/button.css" rel="stylesheet")
  <!-- endbuild -->
  script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")

  body#Home
    overlay.wandel.start-overlay
    overlay.mountainbike
    overlay.golf
    overlay.klimmen
    .container
      .header
        .grid
          figure.effect-jazz
            img(src="images/zomerbalk.jpg")
            figcaption
              h2 Zomer in
                span  Ehrwald
              p Een ideale omgeving voor wandelaars, mountainbikers..
      .nav-container
        nav
          a.navbar-brand.pull-left.grow(href="#")
          ul
            li.nav-link
              a(href="index.html" data-bg="wandel") Home
            li.nav-link
              a(href="#section-2" data-bg="wandel") Wandelen
            li.nav-link
              a(href="#section-3" data-bg="mountainbike") Bikers
            li.nav-link
              a(href="#section-4" data-bg="golf") Golf
            li.nav-link
              a(href="#section-5" data-bg="wandel") Rodelen
            li.nav-link
              a(href="#section-6" data-bg="klimmen") Klimmen
            li.nav-link
              a(href="#section-7" data-bg="wandel") Activiteiten
          .nav-left
          .nav-right
      .mainbody
        section#section-2
          .row.row-eq-height
            .col-lg-8.col-sm-8
              h1 Wandelen
              p
                | Talrijke wandelwegen en bergroutes op de spitsen van het Wetterstein- en Ammergebergte in de Lechtaler Alpen
                | en Mieminger Kette worden zowel door wandelaars als bergbeklimmers met open armen begroet.
                | Men wordt hier met fraaie uitzichten in de ware zin van het woord verwend.
                | De acht bergmeertjes van het gebied rondom de Zugspitze zijn absoluut landschappelijke juweeltjes.
              p
                | Wandeling 1: Zugspitze 2.962 m - looptijd: ca. 6 uur
                | Omhoog met de Tiroler Zugspitzbahn naar de top van de Zugspitze.
                | Naar beneden met de Gletscherbahn of via het moeilijke bergpad naar het plateau van de Zugspitze.
                | De weg leidt via de Knorrhütte 2.051 m naar de Gatterl 2.000 m - Feldernjöchl 2.045 m - Hochfeldern Alm 1.732 m –
                | Ehrwalder Alm 1.502 m – afdaling met de Ehrwalder Almbahn of te voet via
                | de Forst- of Wiesenweg naar het dal.
              p
                | Wandeling 2: Seebensee – Coburger Hütte 1.917 m – wandeltijd: circa 4 uur
                | Het vertrekpunt voor deze route is het dalstation van de Ehrwalder Almbahn.
                | Men kan met de kabelbaan of te voet het bergrestaurant Ehrwalder Alm bereiken. De brede wandelweg loopt via de Ganghofer`s Rast, langs de Seebenalm tot en met het wondermooi gelegen
                | Seebenmeertje. Van daaruit loopt een steil en bochtig pad naar de Coburgerhütte
              h3 Nordic Walking
              p
                | Vele jaren langlaufervaring in de wintersport vormen de basis van het enthousiasme voor Nordic Walking, een sport welke natuurlijk veel gelijkenis heeft met Langlaufen, ook wel bekend als Nordicskiën.
                | Nordic walkers komen in Ehrwald niets te kort. De grote open vlakte tussen Ehrwald, Lermoos en Biberwier is een eldorado voor de nordic walkers. Daarnaast zijn er allerlei koppeltrajecten naar naburige dalen. De Hochloipe Ehrwalder Alm nodigt uit tot een sprookjesachtige rondtocht te midden van een uitgestrekt landschap op 1500 meter hoogte.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
                .foto
                  img(src='/images/zomer/wandel1.jpg')
                .foto
                  img(src='/images/zomer/wandel2.jpg')
                .foto
                  img(src='/images/zomer/wandel3.jpg')
          hr
        section#section-3
          .row#ZomerID
            hr
            .col-lg-8.col-sm-8
              h1 Mountain Bike
              p
                | De Zugspitz Arena wordt door vele genoemd als het “Eldorado” voor de mountainbikers. Het is niet voor niets al diverse keren uitgeroepen tot het beste mountainbike regio van Tirol. U kunt er zeker van zijn dat u in de Zugspitz Arena voldoende, geprepareerde en bewegwijzerde mountainbikeroutes aantreft.
              p
                | Heeft u behoefte aan een tour onder professionele begeleiding dan staan de fietsprofi's van het Bikeguiding Team Zugspitzarena u met raad en daad ter zijde. Afwisselende tochten in verschillende categorieën worden u hier aangeboden en indien gewenst kunt u er een mountainbike uitrusting huren.
              p
                | Vanuit ons huis zijn de mountainbikeroutes snel en makkelijk te bereiken en naar het mountainbikegebied Ehrwalder Alm zijn het maar een paar minuten.
                | De fietsroutes in de Ehrwalder Moos zijn uitstekend geschikt voor degene die zich wat meer op het vlakkere terrein willen begeven. De bergtouren zijn bedoeld voor de getrainde fietser. Voor elke doelgroep vind u bij ons in de Zugspitz Arena de juiste fietsroute.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='/images/zomer/mountainbike1.jpg')
              .foto
                img(src='/images/zomer/mountainbike2.jpg')
              .foto
                img(src='/images/zomer/mountainbike3.jpg')
            hr
        section#section-4
          .row#WinterID
            hr
            .col-lg-8.col-sm-8
              h1 Golfen
              p
                | De golfplaats ligt prachtig ingesloten in een wonderschone en rustige omgeving tussen Ehrwald en Lermoos en dat is ongetwijfeld het grootste pluspunt.
              p
                | Wanneer men spreekt over een natuurpracht, dan zal men niet alleen verrast zijn door de grootte van de Wettersteinmassives met Duitslands hoogste berg, de Zugspitze, maar simpelweg onder de indruk zijn van de tot 3.000 meter hoge bergtoppen.
              p
                | De op natuurlijke bodem aangelegde golfbaan is gebouwd naar de top actuele internationale voorschriften en is voor toernooispelen uitermate goed geschikt.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='/images/zomer/golf1.jpg')
              .foto
                img(src='/images/zomer/golf3.jpg')
            hr
        section#section-5
          .row
            hr
            .col-lg-8.col-sm-8
              h1 Rodelen
              p
                | Wie in de zomer naar de Zugspitz Arena trekt moet absoluut eens een ritje op de langste zomerrodelbaan van Tirol (1,5 km). Kinderen, maar ook de papa’s en mama’s, zijn helemaal weg van deze rodelbaan.
              p
                | In de buurt van hotel “Cube” in Biberwier kan je met de Marienbergbahn naar de startplaats.
              p
                | De allerkleinsten kunnen met papa of mama mee op de schoot genieten van een spannende rit naar beneden. Dankzij de rem (en die heb je nodig) kan je zelf je snelheid bepalen. De allereerste rit zal je waarschijnlijk je rodel in toom willen houden, maar al vrij snel komt de raceduivel in je los.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='/images/zomer/rodelen1.jpg')
            hr
        section#section-6
          .row
            hr
            .col-lg-8.col-sm-8
              h1 Klimmen
              p
                | Voor wie een liefhebber is van de klimsport zijn er volop mogelijkheden. Ehrwald is een echte bolder klimhal rijk.
              p
                | De nieuwe klimhal heeft de modernste klim-inrichtingen. In de winkel kan uitrusting en accessoires worden geleend of besteld. Er zijn ook cursussen.
              P
                | Alpine klimmers en bergbeklimmers vinden in de Tiroler Zugspitz Arena een verscheidenheid van rotsformaties en klimroutes in alle moeilijkheidsgraden. Door de ligging in het zuiden, veel wandelpaden en routes zijn in de vroege ochtenduren beklimbaar.
            .col-lg-4.col-sm-4.fotocontainer.animated(data-os-animation='fadeInRight')
              .foto
                img(src='/images/zomer/klimmen1.jpg')
              .foto
                img(src='/images/zomer/klimmen2.jpg')
            hr
        section#section-7
          .row
            hr
            .col-lg-12.col-sm-12
              h1 Activiteiten
              table.table.table-striped.table-responsive.animated(data-os-animation='fadeIn')
                thead
                  tr
                    th Bezienswaardigheid
                    th Plaats
                    th Land
                    th Webpagina
                tbody
                  tr
                    th Plansee Heiterwang
                    th Heiterwang
                    th Oostenrijk
                    th
                      a(href='http://www.zugspitzarena.com' target='new') www.zugspitzarena.com
                  tr
                    th Burgenwelten Ehrenberg
                    th Reutte
                    th Oostenrijk
                    th
                      a(href='www.ehrenberg.at' target='new') www.ehrenberg.at
                  tr
                    th Schloß Fernstein en Fernstein See
                    th Nassereith
                    th Oostenrijk
                    th
                      a(href='http://www.fernsteinsee.at' target='new') www.fernsteinsee.at
                  tr
                    th EibSee
                    th Grainau
                    th Duitsland
                    th
                      a(href='http://www.eibsee.de' target='new') www.eibsee.de
                  tr
                    th Schloß Linderhof
                    th Ettal
                    th Duitsland
                    th
                      a(href='http://www.schlosslinderhof.de' target='new') www.schlosslinderhof.de
                  tr
                    th Kloster Ettal
                    th Ettal
                    th Duitsland
                    th
                      a(href='http://www.kloster-ettal.de' target='new') www.kloster-ettal.de
                  tr
                    th "het sprookjeskasteel"
                    th Neuschwanstein	Schwangau
                    th Duitsland
                    th
                      a(href='http://www.neuschwanstein.de' target='new') www.neuschwanstein.de
                  tr
                    th Geierwally Freilichtbühne
                    th Elbigenalp
                    th Oostenrijk
                    th
                      a(href='http://www.lechtal.at' target='new') www.lechtal.at
                  tr
                    th Geisterklamm
                    th Leutasch
                    th Oostenrijk
                    th
                      a(href='http://www.leutasch.net' target='new') www.leutasch.net
                  tr
                    th Swarovski kristalwerelden
                    th Wattens
                    th Oostenrijk
                    th
                      a(href='http://kristallwelten.swarovski.com' target='new') kristallwelten.swarovski.com
            hr
        .footer
          p
            | Haus Brabant (c) 2016 A de Werdt
      navm.mobile-nav
        .menu-mobile-footer
          ul#menu-mobile-footer.menu
            li#telefoon
              a(href="tel:#{tel}")
            li#mail
              a(href="mailto:#{mail}")
            li#whatsapp
              a(href="intent://send/#{tel}#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end")
            li#facebook
              a(href="http://www.facebook.com/hausbrabant")
            li#book-now
              a(href="#") Book Now

    <!-- Google Analytics: change UA-XXXXX-X to be your sites ID. -->
    script(src="scripts/google.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/shortcuts/sticky.js")
    script(src="scripts/main.js")
