h1 Reservierung
p
  | Eine Anfrage oder Buchung?
p
  | Durch dieses Formular kommen Sie in dass Reservierungsystem von Haus Brabant
  | Nach der Auswahl einer Wohnung konnen Sie Ihre persönlichen Daten eingeben.<br/>
  | Hier können Sie direkt eine Wohnung buchen oder eine Reservierung machen.
  | <br>
