p
  | Haus Brabant heeft 9 appartementen voor 2 tm 8 personen. Waarvan de nieuwste een overkapt terras van maar liefst 40m2 kent! <br>
  | Alle appartementen zijn ruim van opzet en recent gerenoveerd
p
  | Haus Brabant ligt aan de hoofdstraat, de (ski)bus stopt voor de deur. Het centrum, de supermarkt en de restaurants zijn op loopafstand.
p
  | Voor de wintersporters hebben we een aparte ruimte met schoenverwarmers zodat u de volgende dag altijd met droge en warme voeten de pistes kunt verkennen.
  | In de zomer voldoet deze ruimte als fietsenstalling zodat uw eigendom veilig is opgeborgen.
