p
  | Haus Brabant ligt midden in het romantische dorpje Ehrwald te midden van een dal wat bekend staat als de Zugspitzarena.<br/>
p
  | Deze naam komt een aantal misschien bekend voor en komt van de Zugspitze: de hoogste berg van Duitsland!?! <br/>
  | Inderdaad Duitsland, de  grens ligt namelijk boven op de berg, maar Ehrwald ligt toch echt in Oostenrijk! De typische en traditionele bouwstijl vind je hier dan ook volop terug. Ehrwald is het grootste dorp(je) van de 3 in dit dal.
p
  | Maar wat maakt het ook uit, je bent in ieder geval goed terecht gekomen, want hier is erg veel te doen in de zomer!
p
  | Vanaf Ehrwald beginnen schitterende wandelingen, voor de fanatieke wandelaar, de nordic walker, maar ook voor de echter klimmer.
p
  | We zitten in een dal dat omringt is door bergtoppen,  wat inhoudt dat je zowel vele kilometers als hoogte meters kunt maken.
  |  Een rondje fietsen gaat dan ook erg makkelijk of juist heel moeilijk voor diegene die daar fan van is.  Fiets/mountain bike routes te over, van eenvoudig tot echte kuitenbijters.
p
  | In de Zugspitzarena vind je een 8-tal bergmeertjes, het ene wat warmer dan het andere.  Om de hoek zit een mooie grote waterval,  hierin zwemmen is voor de echte bikkels.
p
  | Bekijk eens een de onderstaande video om een impressie te krijgen van het landschap.
