p Haus Brabant hat 9 <strong>Appartements</strong> für 2 bis 8 Personen. . Und das neueste hat eine überdachte Terrasse von 40m2!
p Alle Apartments sind geräumig und erst kürzlich renoviert.
p Haus Brabant liegt an der <strong>Hauptstraße</strong>, hält der (Ski-) Bus ist an der Tür.
p Das Zentrum, Supermarkt und Restaurants sind zu Fuß erreichbar.
p Für Wintersportler haben wir einen separaten Raum mit Skischuhheizungen, so dass Sie immer am nächsten Tag mit trockenen und warmen Füßen die Pisten rauf können.
p Im Sommer trifft diesen Raum als ein Fahrradraum, damit Ihr Eigentum auch bei uns sicher ist.
