p
  | Je kunt op diverse manieren contact met ons opnemen. Mits het niet midden in de nacht is zullen we je zo snel mogelijk te woord staan.
p
  | Laat bij voorkeur een mailtje op <span class="reverse">moc.tnabarbsuah@ofni</span> achter of stuur een whatsapp dan kunnen we je altijd bericht geven mochten we niet in staat zijn om de boodschap direct aan te nemen.
p
  | Voor reserveringen kunt je gebruik maken van onderstaande link.<br>
  | Mocht deze echter aangeven dat er geen mogelijkheden zijn kunt je via het reserveringsformulier jullie voorkeur wensen doorgeven. <br>
  | Misschien kunnen we het eea schuiven zodat we jullie toch kunnen plaatsen.<br>
  | Bij vragen gewoon even bellen (tel:+43 6 50 41 65 726).
p
  | <strong>Haus Brabant</strong>
