h1 Proficiat!! Gratuliere!! Congratulations!!
p Sie sind in der schönsten <strong>Familienhaus</strong> in Tirol angekommen.
  a(href='https://www.google.de/maps/place/Haus+Brabant/@47.4061755,10.9151109,17z/data=!3m1!4b1!4m5!3m4!1s0x479cfd367bc4e725:0xf959551d7caf98f7!8m2!3d47.4061719!4d10.9172996' target='new')
    img(src='images/googlemaps.png').gmapsicon
p  Sie haben das Juwel in Tirol entdeckt, und das ist schon eine Leistung mit allen Optionen und Möglichkeiten, die das Netz Sie heute bietet.
p  Was macht Haus Brabant so besonders? Komfort in den brandneuen Apartments, in einem alten Gebäude realisiert! (1890!). Eine wunderbare Kombination aus alt und neu, mit Panoramablick auf alle Berggipfeln!
p  Es fehlt an wie Zu Hause kommen im Winter-Frühjahr-Sommer-Herbst.
p  Die gemütliche Atmosphäre in der Stube und um das Lagerfeuer ist einzigartig!
p  Und das ist nicht um hoch zu sprechen: Das ist die Meinung unserer Gäste, was man sehen kann mit ein 9.3 auf Zoover.
  | Und da sind wir auch Rechtlich stolz auf ..
p  Wir hoffen, dass Sie sich bei uns einen sehr schönen Aufenthalt haben, und rested'll nach Hause kommen.
p  Es gibt unzählige Möglichkeiten in der Umgebung, sowohl im Winter als auch im Sommer.
p  Wenn es irgendwelche Fragen nach Anzeige dieser Website sein, oder wenn Sie spezielle Anforderungen haben, sind wir für Sie da.
p  Liebe Grüße, <br/>
  |  Helmut und Leonie
