h1 Proficiat!! Gratuliere!! Congratulations!!
p
  | You arrived at the website of the cosiest <strong>appartementhouse </strong> in Tirol.
  a(href='https://www.google.nl/maps/place/Haus+Brabant/@47.4061755,10.9151109,17z/data=!3m1!4b1!4m5!3m4!1s0x479cfd367bc4e725:0xf959551d7caf98f7!8m2!3d47.4061719!4d10.9172996' target='new')
    img(src='images/googlemaps.png').gmapsicon
p You have discovered the jewel in Tyrol and that is quite an achievement with all the options and possibilities that the net offers you today.
p What does make  <strong>Haus Brabant</strong> so special? Comfort in brand new apartments realized in an ancient building! (1890!).
  | A beautifull combination of old and new, with panaromic view on all hilltops!.
p It feels like coming home for everyone in Winter-Spring-Summer-Autumn.
p The atmosphere in the Stube and around the campfire is unique!
p And that's not a big voice: this is the opinion of our guests who endorse this statement with a <strong> 9.3 </strong> report on Zoover <br/>.
  | And thats something we are really proud off!.

p We hope you have with us a very nice stay, and return well rested home.
p There are plenty of opportunities and possibilities in the area, both in winter and in summer.
p
If there are any questions after viewing this site or if you have special requirements, just give us a call.
p  Liebe Grüße,  <br/>
  | Helmut und Leonie
