p
  | Waarom zou je voor een wintervakantie verder rijden dan nodig? Bij ons vind je het <strong> eerste</strong> skigebied in het noorden van Tirol!
p
  | Bij winter denk je vaak aan kou en sneeuw. Maar wist je dat er vaak hoge temperaturen gehaald worden in de winter in Oostenrijk? Door de droge berglucht is het vaak minder koud dan je denkt.
p
  | Veel van de gasten komen om de skipistes te verkennen. Door de aanwezigheid sneeuwkanonnen, en de gletscher op de Zugspitze is sneeuw gegarandeerd.
p
  | Vanaf ons huis kijk je op een deel van de pistes. De Zugspitzarena telt 139km pistes, diverse funparks, en een off piste strekke voor de liefhebber.  <br/>
  | Recht voor ons huis start je je langlauf route.  100km loipen heb je gratis ter beschikking! <br/>
  | En voor degene die van spanning, avontuur en actie houden vind je hier ook  Snowparks en Freeridetrails.
p
  | Mocht je nu echt niet zo van sport houden, in het zonnetje boven op de berg , met een lekker bakje koffie kom je je dag ook vast door.
