// menu
- var Zomer = 'Summer'
- var Winter = 'Winter'
- var Appartement = 'Appartments'
- var Contact = 'Contact'
// var balkzomer
- var koptextzomer = 'Summer in'
- var koptextsubzomer= 'An ideal setting for hikers, mountain bikers etc.'
- var wandelen =  'Hiking'
- var wandelensub = 'Several hiking and mountain trails ... '
- var mountainbike = 'Mountain bike'
- var mountainbikesub = 'Alternate trails and beautiful views'
- var golf = 'Golf'
- var golfsub = 'Een magnificent 9 holes track with beautiful greens for the true golf enthousiastic'
- var rodelen = 'Rodelen'
- var rodelensub = 'A must have..'
- var klimmen = 'Climbing'
- var klimmensub = 'Voor de avontuurlijke medemens een geweldige ervaring'
- var activeiten = 'Activiteiten'
- var activeitensub = 'Dingen die u zeker een keer gezien/gedaan moet hebben'
// var balkwinter
- var koptextwinter= 'Winter in'
- var koptextsubwinter = 'Gegarandeerde winterpret voor het hele gezin'
- var langlaufen = 'Langlaufen'
- var langlaufensub = 'Keuze uit loipes te over...  '
- var ski = 'Ski Arena Zugspite'
- var skisub = 'Sneeuwzeker en uitermate geschikt voor gezinnen'
- var rodelen = 'Rodelen'
- var rodelensub = 'Heerlijk rodelen zowel overdag als \'s avonds'
- var wandelen = 'Wandelen'
- var wandelensub = 'Een absolute aanrader..'
- var arrenslee = 'Arrenslee'
- var arrensleesub = 'Geef je vakantie een romantische draai.'
- var uitstapjes = 'Uitstapjes'
- var uitstapjessub = 'Bezoek de pittoreske plaatsen in de directe omgeving'
// var balkappartementen
- var koptextApp = 'Appartementen'
- var koptextAppsub = 'sfeervol en modern uitgerust'
- var appartementen = 'Appartementen'
- var appartementensub = 'Moderne volledig ingerichte kamers ...'
- var bar = ' Gezellige bar'
- var barsub = 'Biljart, darts, tafeltennis...'
- var speelkamer = 'Speelkamer'
- var speelkamersub = 'Een paradijsje voor de kleintjes..'
// balkcontact
- var koptextcontact = ' De gezelligste locatie in Tirol'
- var koptextsubcontact = 'altijd staan we met een lach voor u klaar'

// adres
- var straat = 'Street and number'
- var postcode = 'Postalcode'
- var plaats = 'City'
- var email = 'Email-address'
- var telefoon = 'Phonenumber'

- var reserveer = 'Reserve now'
- var viaform = 'use the form'
- var slimkeus = 'a smart choice'

// repeat var
- var klikfoto = 'klik op de foto voor meer ....'
- var klikzoover = 'klik om zoover te openen..'
- var klikvideo = 'klik voor impressie'

- var onzebar = 'Onze gezellige bar '
