// menu
- var Zomer = 'Sommer'
- var Winter = 'Winter'
- var Appartement = 'Apartment'
- var Contact = 'Kontakt'
// var balkzomer
- var koptextzomer = 'Sommer in'
- var koptextsubzomer= 'Ein idealer Ort für Wanderer, Mountainbiker usw.'
- var wandelen =  'Wandern'
- var wandelensub = ' Verschiedene Wander- und Bergwege ...'
- var mountainbike = 'Mountain bike'
- var mountainbikesub = 'Alternate Trails und Schönen Aussichten'
- var golf = 'Golf'
- var golfsub = 'Ein 9-Loch GolfPlatz mit ein mit dem schönen Alpenpanorama.'
- var rodelen = 'Rodeln'
- var rodelensub = 'Sehr empfehlenswert..'
- var klimmen = 'Klettern'
- var klimmensub = 'Für die Abenteurer ein tolle Erfahrung'
- var activeiten = 'Aktivitäten'
- var activeitensub = 'Ein muss für jeden Urlaub!'
// var balkwinter
- var koptextwinter= 'im Winter'
- var koptextsubwinter = 'garantiert Winterspaβ für die ganze Familie'
- var langlaufen = 'Langlaufen'
- var langlaufensub = 'Grösses Loipennetz  '
- var ski = 'Ski Arena Zugspitze'
- var skisub = 'Schneesicherheit und ideal für Familien'
- var rodelen = 'Rodeln'
- var rodelensub = 'Overdag en s’avonds rodelen/ Rodeln bei Tag und Nacht.'
- var wandelen = 'Wandern'
- var wandelensub = 'Sehr empfehlenswert..'
- var arrenslee = 'Pferdeschlittenfahrt'
- var arrensleesub = 'Geben Sie Ihren Urlaub ein Romantische Wendung'
- var uitstapjes = 'Ausflugziele'
- var uitstapjessub = 'Ausflugsziele in der region und etwas weiter'
// var balkappartementen
- var koptextApp = 'Wohnungen oder Apartmenten'
- var koptextAppsub = 'Comfort und modern ausgestattet'
- var appartementen = 'Wohnungen oder Apartmenten'
- var appartementensub = 'Moderne komplett eingerichtete Zimmer ...'
- var bar = ' Gemutliche stube'
- var barsub = 'Billard Darts, Tischtennis…'
- var speelkamer = 'Spielzimmer und Spielplatz'
- var speelkamersub = 'Ein paradies dür die kleinen..'
// balkcontact
- var koptextcontact = ' Der Schönste Ort in Tirol'
- var koptextsubcontact = 'wir sind mmer da für Sie'

// adres
- var straat = 'Straβe und Hausnummer'
- var postcode = 'Postleitzahl'
- var plaats = 'Stadt'
- var email = 'E-Mail-Adresse'
- var telefoon = 'Telefonnummer'

- var reserveer = 'Jetzt Buchen'
- var viaform = 'mit der Formular'
- var slimkeus = 'intelligente Wahl'

// repeat var
- var klikfoto = 'klicken Sie auf das Foto für mehr ....'
- var klikzoover = 'klicken um Zoover zu offnen...'
- var klikvideo = 'klicken für ein Eindruck'

- var onzebar = 'Unserem gemutliche Stube '
