// menu
- var Zomer = 'Zomer'
- var Winter = 'Winter'
- var Appartement = 'Appartement'
- var Contact = 'Contact'
// var balkzomer
- var koptextzomer = 'Zomer in'
- var koptextsubzomer= 'Een ideale omgeving voor wandelaars, mountainbikers enz.'
- var wandelen =  'Wandelen'
- var wandelensub = ' Diverse wandelwegen en bergoutes ...'
- var mountainbike = 'Mountain bike'
- var mountainbikesub = 'Afwisselende trails en prachtige vergezichten'
- var golf = 'Golf'
- var golfsub = 'Een 9-holes golfbaan met een mooi Alpenpanorama'
- var rodelen = 'Rodelen'
- var rodelensub = 'Een absolute aanrader..'
- var klimmen = 'Klimmen'
- var klimmensub = 'Voor de avontuurlijke medemens een geweldige ervaring'
- var activeiten = 'Activiteiten'
- var activeitensub = 'Dingen die u zeker een keer gezien/gedaan moet hebben'
// var balkwinter
- var koptextwinter= 'Winter in'
- var koptextsubwinter = 'Gegarandeerde winterpret voor het hele gezin'
- var langlaufen = 'Langlaufen'
- var langlaufensub = 'Groot Loipennetwerk...'
- var ski = 'Ski Arena Zugspite'
- var skisub = 'Sneeuwzeker en uitermate geschikt voor gezinnen'
- var rodelen = 'Rodelen'
- var rodelensub = 'Heerlijk rodelen zowel overdag als \'s avonds'
- var wandelen = 'Wandelen'
- var wandelensub = 'Een absolute aanrader..'
- var arrenslee = 'Arrenslee'
- var arrensleesub = 'Geef je vakantie een romantische draai.'
- var uitstapjes = 'Uitstapjes'
- var uitstapjessub = 'Excursiemogelijkheden in de regio en een beetje verder'
// var balkappartementen
- var koptextApp = 'Appartementen'
- var koptextAppsub = 'sfeervol en modern uitgerust'
- var appartementen = 'Appartementen'
- var appartementensub = 'Moderne volledig ingerichte kamers ...'
- var bar = ' Gezellige bar'
- var barsub = 'Biljart, darts, tafeltennis...'
- var speelkamer = 'Speelkamer en Speelplaats'
- var speelkamersub = 'Een paradijsje voor de kleintjes..'
// balkcontact
- var koptextcontact = ' De gezelligste locatie in Tirol'
- var koptextsubcontact = 'altijd staan we met een lach voor u klaar'

// adres
- var straat = 'Straat en huisnr'
- var postcode = 'Postcode'
- var plaats = 'Plaats'
- var email = 'Email-adres'
- var telefoon = 'Telefoonnr'

- var reserveer = 'Reserveer nu'
- var viaform = 'via het formulier'
- var slimkeus = 'fantastisch!!'

// repeat var
- var klikfoto = 'klik op de foto voor meer ....'
- var klikzoover = 'klik om zoover te openen..'
- var klikvideo = 'klik voor impressie'

- var onzebar = 'Onze gezellige bar '
